USE [BakerBazzar]
GO
/****** Object:  UserDefinedFunction [dbo].[BB_fGetCartItemCount]    Script Date: 6/29/2024 11:40:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create function [dbo].[BB_fGetCartItemCount]
(
@DisplayId uniqueidentifier
)    
returns int    
as    
Begin 

return (select count(*) from BB_QuoteDetails where SessionId = @DisplayId)

End
GO
/****** Object:  UserDefinedFunction [dbo].[BB_fGetImagePath]    Script Date: 6/29/2024 11:40:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


Create FUNCTION [dbo].[BB_fGetImagePath]
(
	@productid varchar(50)
	
)
RETURNS varchar(256)
AS
BEGIN	
	declare @path varchar(256)

	
	begin
		select @path = ProductImagePath from BB_Inventory (nolock) where ProductId = @productid 
	end
	
	
	return @path;
END
GO
/****** Object:  UserDefinedFunction [dbo].[BB_fGetProductCountByCategory]    Script Date: 6/29/2024 11:40:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create function [dbo].[BB_fGetProductCountByCategory]
(
@CategoryRId bigint
)    
returns int    
as    
Begin 

return (select count(*) from BB_Inventory where CategoryRId = @CategoryRId)

End
GO
/****** Object:  UserDefinedFunction [dbo].[BB_fGetVarients]    Script Date: 6/29/2024 11:40:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE FUNCTION [dbo].[BB_fGetVarients]
(
	@productid varchar(50)
	
)
RETURNS nvarchar(max)
AS
BEGIN	
	declare @jsonval nvarchar(max)	
	
		select @jsonval = (select RecordId,Varient,Unit,SellingPrice from BB_Inventory where ProductId = @productid FOR JSON PATH )	
	
	return @jsonval;
END
GO
/****** Object:  Table [dbo].[BB_Addresses]    Script Date: 6/29/2024 11:40:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BB_Addresses](
	[RecordId] [int] IDENTITY(1000,1) NOT NULL,
	[CustomerId] [uniqueidentifier] NULL,
	[Name] [varchar](100) NULL,
	[Address1] [varchar](100) NULL,
	[Address2] [varchar](100) NULL,
	[Address3] [varchar](100) NULL,
	[City] [varchar](100) NULL,
	[State] [varchar](100) NULL,
	[Zipcode] [varchar](50) NULL,
	[Country] [varchar](100) NULL,
	[Phone] [varchar](25) NULL,
	[IsBillto] [bit] NULL,
	[IsShipto] [bit] NULL,
	[Type] [varchar](25) NULL,
	[CreatedOn] [datetime] NULL,
	[LastModified] [datetime] NULL,
	[Email] [varchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BB_Category]    Script Date: 6/29/2024 11:40:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BB_Category](
	[RecordId] [bigint] IDENTITY(1,1) NOT NULL,
	[DisplayId] [uniqueidentifier] NULL,
	[CategoryCode] [nvarchar](50) NULL,
	[CategoryName] [nvarchar](100) NULL,
	[Description] [nvarchar](1000) NULL,
	[CategoryImage] [nvarchar](100) NULL,
	[CreatedOn] [datetime] NULL,
	[LastModified] [datetime] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BB_Counter]    Script Date: 6/29/2024 11:40:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BB_Counter](
	[RecordId] [int] IDENTITY(1,1) NOT NULL,
	[CounterId] [bigint] NULL,
	[Type] [varchar](100) NULL,
	[CreatedOn] [datetime] NULL,
	[LastModified] [datetime] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BB_Inventory]    Script Date: 6/29/2024 11:40:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BB_Inventory](
	[RecordId] [bigint] IDENTITY(1,1) NOT NULL,
	[DisplayId] [uniqueidentifier] NULL,
	[Supplier] [nvarchar](50) NULL,
	[Category] [nvarchar](50) NULL,
	[CategoryRId] [bigint] NULL,
	[ProductId] [nvarchar](100) NULL,
	[ProductName] [nvarchar](100) NULL,
	[InEnglish] [nvarchar](100) NULL,
	[InTamil] [nvarchar](100) NULL,
	[MRP] [decimal](18, 0) NULL,
	[PurchasePrice] [decimal](18, 0) NULL,
	[Tax] [nvarchar](50) NULL,
	[NetPurchasePrice] [decimal](18, 0) NULL,
	[PurchasePercentage] [decimal](18, 0) NULL,
	[NetPurchasePercentage] [decimal](18, 0) NULL,
	[HSNSAC] [nvarchar](100) NULL,
	[SellingProfitPercentage] [decimal](18, 0) NULL,
	[SellingPrice] [decimal](18, 0) NULL,
	[SellingPercentage] [decimal](18, 0) NULL,
	[ClassicProfitPercentage] [decimal](18, 0) NULL,
	[ClassicPrice] [decimal](18, 0) NULL,
	[ClassicPercentage] [decimal](18, 0) NULL,
	[QuantityPerBox] [int] NULL,
	[RetailPrice] [decimal](18, 0) NULL,
	[MinimumOrderQuantity] [int] NULL,
	[InitialStock] [int] NULL,
	[BulkQuantity] [int] NULL,
	[BulkQuantityPrice] [decimal](18, 0) NULL,
	[EnableBarCodeSticker] [bit] NULL,
	[CreatedOn] [datetime] NULL,
	[LastModified] [datetime] NULL,
	[DefaultImage] [varbinary](max) NULL,
	[ProductImageRId] [bigint] NULL,
	[ProductJson] [varchar](max) NULL,
	[ProductImagePath] [nvarchar](max) NULL,
	[Colours] [nvarchar](50) NULL,
	[Varient] [int] NULL,
	[Unit] [nvarchar](50) NULL,
	[IsDefaultVarient] [bit] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BB_OrderDeliveryDetail]    Script Date: 6/29/2024 11:40:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BB_OrderDeliveryDetail](
	[RecordId] [bigint] IDENTITY(1,1) NOT NULL,
	[OrderId] [bigint] NULL,
	[OrderNo] [bigint] NULL,
	[DeliveryAgentName] [nvarchar](100) NULL,
	[ShopOwnerName] [nvarchar](100) NULL,
	[CreatedOn] [datetime] NULL,
	[LastModified] [datetime] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BB_OrderDetails]    Script Date: 6/29/2024 11:40:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BB_OrderDetails](
	[RecordId] [bigint] IDENTITY(1,1) NOT NULL,
	[OrderHeaderId] [bigint] NULL,
	[SessionId] [uniqueidentifier] NULL,
	[Supplier] [nvarchar](50) NULL,
	[Category] [nvarchar](50) NULL,
	[ProductId] [nvarchar](100) NULL,
	[Qty] [int] NULL,
	[ProductName] [nvarchar](100) NULL,
	[Price] [money] NULL,
	[ExtPrice] [money] NULL,
	[InEnglish] [nvarchar](100) NULL,
	[InTamil] [nvarchar](100) NULL,
	[MRP] [money] NULL,
	[PurchasePrice] [money] NULL,
	[Tax] [int] NULL,
	[TaxAmount] [money] NULL,
	[NetPurchasePrice] [money] NULL,
	[PurchasePercentage] [decimal](18, 0) NULL,
	[NetPurchasePercentage] [decimal](18, 0) NULL,
	[HSNSAC] [nvarchar](100) NULL,
	[SellingProfitPercentage] [decimal](18, 0) NULL,
	[SellingPrice] [money] NULL,
	[SellingPercentage] [decimal](18, 0) NULL,
	[ClassicProfitPercentage] [decimal](18, 0) NULL,
	[ClassicPrice] [money] NULL,
	[ClassicPercentage] [decimal](18, 0) NULL,
	[QuantityPerBox] [int] NULL,
	[RetailPrice] [money] NULL,
	[Unit] [nvarchar](50) NULL,
	[MinimumOrderQuantity] [int] NULL,
	[InitialStock] [int] NULL,
	[BulkQuantity] [int] NULL,
	[BulkQuantityPrice] [money] NULL,
	[EnableBarCodeSticker] [bit] NULL,
	[ProductImage] [varbinary](max) NULL,
	[CreatedOn] [datetime] NULL,
	[LastModified] [datetime] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BB_OrderHeader]    Script Date: 6/29/2024 11:40:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BB_OrderHeader](
	[RecordId] [bigint] IDENTITY(1,1) NOT NULL,
	[OrderNo] [bigint] NULL,
	[SessionId] [uniqueidentifier] NULL,
	[UserDisplayId] [uniqueidentifier] NULL,
	[ShipToId] [int] NULL,
	[BillToId] [int] NULL,
	[ContactName] [nvarchar](100) NULL,
	[ContactNo] [nvarchar](100) NULL,
	[ContactEmail] [nvarchar](100) NULL,
	[SubTotal] [money] NULL,
	[Discount] [money] NULL,
	[TaxAmount] [money] NULL,
	[RecycleFee] [money] NULL,
	[Shipping] [money] NULL,
	[Total] [money] NULL,
	[Status] [nvarchar](50) NULL,
	[PaymentMethod] [nvarchar](50) NULL,
	[PaymentStatus] [nvarchar](50) NULL,
	[CreatedOn] [datetime] NULL,
	[LastModified] [datetime] NULL,
	[ExpectedDeliveryDate] [datetime] NULL,
	[WarehouseId] [bigint] NULL,
	[DeliveryAgentId] [bigint] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BB_OrderTracking]    Script Date: 6/29/2024 11:40:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BB_OrderTracking](
	[RecordId] [bigint] IDENTITY(1,1) NOT NULL,
	[OrderId] [bigint] NULL,
	[Open] [bit] NULL,
	[InProcess] [bit] NULL,
	[Shipped] [bit] NULL,
	[Delivered] [bit] NULL,
	[IsCompleted] [bit] NULL,
	[Cancelled] [bit] NULL,
	[LastUpdatedBy] [nvarchar](100) NULL,
	[Comments] [nvarchar](1000) NULL,
	[TrackingCode] [nvarchar](50) NULL,
	[TrackingName] [nvarchar](50) NULL,
	[Description] [nvarchar](max) NULL,
	[SortOrderId] [int] NULL,
	[CreatedOn] [datetime] NULL,
	[LastModified] [datetime] NULL,
	[StatusStyle] [nvarchar](100) NULL,
	[TimeLine] [nvarchar](100) NULL,
	[StatusIcon] [nvarchar](50) NULL,
	[ExpectedOn] [datetime] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BB_ProductImage]    Script Date: 6/29/2024 11:40:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BB_ProductImage](
	[RecordId] [bigint] IDENTITY(1,1) NOT NULL,
	[ProductId] [nvarchar](50) NULL,
	[ProductRId] [bigint] NULL,
	[ProductImage] [varbinary](max) NULL,
	[CreatedOn] [datetime] NULL,
	[LastModified] [datetime] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BB_QuoteDetails]    Script Date: 6/29/2024 11:40:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BB_QuoteDetails](
	[RecordId] [bigint] IDENTITY(1,1) NOT NULL,
	[QuoteHeaderId] [bigint] NULL,
	[SessionId] [uniqueidentifier] NULL,
	[Supplier] [nvarchar](50) NULL,
	[Category] [nvarchar](50) NULL,
	[ProductId] [nvarchar](100) NULL,
	[Qty] [int] NULL,
	[ProductName] [nvarchar](100) NULL,
	[Price] [money] NULL,
	[ExtPrice] [money] NULL,
	[InEnglish] [nvarchar](100) NULL,
	[InTamil] [nvarchar](100) NULL,
	[MRP] [money] NULL,
	[PurchasePrice] [money] NULL,
	[Tax] [int] NULL,
	[TaxAmount] [money] NULL,
	[NetPurchasePrice] [money] NULL,
	[PurchasePercentage] [decimal](18, 0) NULL,
	[NetPurchasePercentage] [decimal](18, 0) NULL,
	[HSNSAC] [nvarchar](100) NULL,
	[SellingProfitPercentage] [decimal](18, 0) NULL,
	[SellingPrice] [money] NULL,
	[SellingPercentage] [decimal](18, 0) NULL,
	[ClassicProfitPercentage] [decimal](18, 0) NULL,
	[ClassicPrice] [money] NULL,
	[ClassicPercentage] [decimal](18, 0) NULL,
	[QuantityPerBox] [int] NULL,
	[RetailPrice] [money] NULL,
	[Unit] [nvarchar](50) NULL,
	[MinimumOrderQuantity] [int] NULL,
	[InitialStock] [int] NULL,
	[BulkQuantity] [int] NULL,
	[BulkQuantityPrice] [money] NULL,
	[EnableBarCodeSticker] [bit] NULL,
	[ProductImage] [varbinary](max) NULL,
	[CreatedOn] [datetime] NULL,
	[LastModified] [datetime] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BB_QuoteHeader]    Script Date: 6/29/2024 11:40:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BB_QuoteHeader](
	[RecordId] [bigint] IDENTITY(1,1) NOT NULL,
	[QuoteNo] [bigint] NULL,
	[SessionId] [uniqueidentifier] NULL,
	[UserDisplayId] [uniqueidentifier] NULL,
	[ShipToId] [int] NULL,
	[BillToId] [int] NULL,
	[ContactName] [nvarchar](100) NULL,
	[ContactNo] [nvarchar](100) NULL,
	[ContactEmail] [nvarchar](100) NULL,
	[SubTotal] [money] NULL,
	[Discount] [money] NULL,
	[TaxAmount] [money] NULL,
	[RecycleFee] [money] NULL,
	[Shipping] [money] NULL,
	[Total] [money] NULL,
	[Status] [nvarchar](50) NULL,
	[PaymentMethod] [nvarchar](50) NULL,
	[PaymentStatus] [nvarchar](50) NULL,
	[CreatedOn] [datetime] NULL,
	[LastModified] [datetime] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BB_Role]    Script Date: 6/29/2024 11:40:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BB_Role](
	[RecordId] [bigint] IDENTITY(1,1) NOT NULL,
	[Role] [varchar](50) NULL,
	[Description] [varchar](250) NULL,
	[CreatedOn] [datetime] NULL,
	[ModifiedOn] [datetime] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BB_SiteSetting]    Script Date: 6/29/2024 11:40:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BB_SiteSetting](
	[RecordId] [bigint] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NULL,
	[Value] [nvarchar](max) NULL,
	[CreatedOn] [datetime] NULL,
	[ModifiedOn] [datetime] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BB_TrackingMaster]    Script Date: 6/29/2024 11:40:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BB_TrackingMaster](
	[RecordId] [bigint] IDENTITY(1,1) NOT NULL,
	[TrackingCode] [nvarchar](50) NULL,
	[TrackingName] [nvarchar](50) NULL,
	[Description] [nvarchar](max) NULL,
	[SortOrderId] [int] NULL,
	[CreatedOn] [datetime] NULL,
	[LastModified] [datetime] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BB_UserJwtToken]    Script Date: 6/29/2024 11:40:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BB_UserJwtToken](
	[RecordId] [bigint] IDENTITY(1000,1) NOT NULL,
	[UserDisplayId] [uniqueidentifier] NULL,
	[JwtToken] [varchar](2000) NULL,
	[RefreshToken] [varchar](200) NULL,
	[CreatedOn] [datetime] NULL,
	[ModifiedOn] [datetime] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BB_Users]    Script Date: 6/29/2024 11:40:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BB_Users](
	[RecordId] [bigint] IDENTITY(100,1) NOT NULL,
	[DisplayId] [uniqueidentifier] NULL,
	[FirstName] [varchar](50) NULL,
	[LastName] [varchar](50) NULL,
	[Username] [varchar](100) NULL,
	[Password] [varchar](100) NULL,
	[Email] [varchar](100) NULL,
	[PhoneNo] [nchar](10) NULL,
	[RoleId] [bigint] NULL,
	[IsActive] [bit] NULL,
	[CreatedOn] [datetime] NULL,
	[ModifiedOn] [datetime] NULL,
	[Gender] [varchar](50) NULL,
	[ProfileImage] [varchar](max) NULL,
	[CustomerType] [varchar](50) NULL,
	[DefaultAddressId] [bigint] NULL,
	[WarehouseId] [bigint] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BB_Warehouse]    Script Date: 6/29/2024 11:40:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BB_Warehouse](
	[RecordId] [bigint] IDENTITY(1,1) NOT NULL,
	[DisplayId] [uniqueidentifier] NULL,
	[WarehouseCode] [nvarchar](50) NULL,
	[WarehouseName] [nvarchar](50) NULL,
	[Address] [nvarchar](100) NULL,
	[City] [nvarchar](50) NULL,
	[State] [nvarchar](50) NULL,
	[Zipcode] [nvarchar](50) NULL,
	[CreatedOn] [datetime] NULL,
	[Modifiedon] [datetime] NULL,
 CONSTRAINT [PK_BB_Warehouse] PRIMARY KEY CLUSTERED 
(
	[RecordId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BB_WarehouseUserMapping]    Script Date: 6/29/2024 11:40:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BB_WarehouseUserMapping](
	[RecordId] [bigint] IDENTITY(1,1) NOT NULL,
	[UserDisplayId] [uniqueidentifier] NULL,
	[WarehouseId] [bigint] NULL,
	[WarehouseName] [nchar](10) NULL,
	[CreatedOn] [datetime] NULL,
	[ModifiedOn] [datetime] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserWarehouseMapping]    Script Date: 6/29/2024 11:40:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserWarehouseMapping](
	[RecordId] [bigint] IDENTITY(1,1) NOT NULL,
	[UserDisplayId] [uniqueidentifier] NULL,
	[WarehouseId] [bigint] NULL,
	[WarehouseName] [nchar](10) NULL,
	[CreatedOn] [datetime] NULL,
	[ModifiedOn] [datetime] NULL
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[BB_Addresses] ON 

INSERT [dbo].[BB_Addresses] ([RecordId], [CustomerId], [Name], [Address1], [Address2], [Address3], [City], [State], [Zipcode], [Country], [Phone], [IsBillto], [IsShipto], [Type], [CreatedOn], [LastModified], [Email]) VALUES (1000, N'a8701061-246f-4f0a-b7db-cf788913b18d', N'Raji', N'D/No-16 Rathnam Nagar', N'Periyakulam Road', N'', N'Theni', N'Tamilnadu', N'625531', N'India', N'9585858402', 0, 0, N'home', CAST(N'2023-12-03T18:08:15.997' AS DateTime), CAST(N'2024-01-23T12:40:46.347' AS DateTime), N'raji@gmail.com')
INSERT [dbo].[BB_Addresses] ([RecordId], [CustomerId], [Name], [Address1], [Address2], [Address3], [City], [State], [Zipcode], [Country], [Phone], [IsBillto], [IsShipto], [Type], [CreatedOn], [LastModified], [Email]) VALUES (1001, N'e62f03f4-2dcf-4f80-bc23-341651bd9338', N'Krishna', N'D/No-32 Nethaji Nagar', N'Near Sree Medical Shop', N'Sri Ram Vidyalaya', N'Palani', N'Tamilnadu', N'625451', N'India', N'958585845', 0, 0, N'home', CAST(N'2023-12-03T18:12:28.540' AS DateTime), CAST(N'2024-01-23T16:13:15.717' AS DateTime), N'krishna@gmail.com')
INSERT [dbo].[BB_Addresses] ([RecordId], [CustomerId], [Name], [Address1], [Address2], [Address3], [City], [State], [Zipcode], [Country], [Phone], [IsBillto], [IsShipto], [Type], [CreatedOn], [LastModified], [Email]) VALUES (1002, N'e62f03f4-2dcf-4f80-bc23-341651bd9338', N'Deepa', N'D/No-75 MRT Nagar', N'Near Shivan Temple', NULL, N'Rameswaram', N'Tamilnadu', N'623526', N'India', N'958585845', 0, 0, NULL, CAST(N'2023-12-03T18:14:20.690' AS DateTime), CAST(N'2023-12-03T18:14:20.690' AS DateTime), N'deepa@gmail.com')
SET IDENTITY_INSERT [dbo].[BB_Addresses] OFF
GO
SET IDENTITY_INSERT [dbo].[BB_Category] ON 

INSERT [dbo].[BB_Category] ([RecordId], [DisplayId], [CategoryCode], [CategoryName], [Description], [CategoryImage], [CreatedOn], [LastModified]) VALUES (1, N'2353cd5e-3059-4ec2-b1f1-38c049a2cc62', N'C1', N'General', N'General', N'../UploadedImages/Products/Category/HomeKitchen.jpg', CAST(N'2023-10-28T16:21:36.447' AS DateTime), CAST(N'2023-10-28T16:21:36.447' AS DateTime))
INSERT [dbo].[BB_Category] ([RecordId], [DisplayId], [CategoryCode], [CategoryName], [Description], [CategoryImage], [CreatedOn], [LastModified]) VALUES (2, N'bbfbd48b-262c-47e2-b281-104322f860fb', N'C2', N'Gadgets', N'Gadgets', N'../UploadedImages/Products/Category/Gadgets.jpg', CAST(N'2023-10-28T16:22:32.573' AS DateTime), CAST(N'2023-10-28T16:22:32.573' AS DateTime))
INSERT [dbo].[BB_Category] ([RecordId], [DisplayId], [CategoryCode], [CategoryName], [Description], [CategoryImage], [CreatedOn], [LastModified]) VALUES (3, N'f1ec08a4-7940-4976-96ed-ff9066286f67', N'C3', N'Grocery', N'Grocery', N'../UploadedImages/Products/Category/Grocery.jpg', CAST(N'2023-10-28T16:23:12.703' AS DateTime), CAST(N'2023-10-28T16:23:12.703' AS DateTime))
SET IDENTITY_INSERT [dbo].[BB_Category] OFF
GO
SET IDENTITY_INSERT [dbo].[BB_Counter] ON 

INSERT [dbo].[BB_Counter] ([RecordId], [CounterId], [Type], [CreatedOn], [LastModified]) VALUES (1, 11867230153, N'Quote', CAST(N'2023-12-03T14:52:38.863' AS DateTime), CAST(N'2024-03-13T15:45:55.033' AS DateTime))
INSERT [dbo].[BB_Counter] ([RecordId], [CounterId], [Type], [CreatedOn], [LastModified]) VALUES (2, 11867250158, N'Order', CAST(N'2023-12-03T14:53:15.127' AS DateTime), CAST(N'2024-03-01T19:02:27.030' AS DateTime))
SET IDENTITY_INSERT [dbo].[BB_Counter] OFF
GO
SET IDENTITY_INSERT [dbo].[BB_Inventory] ON 

GO
SET IDENTITY_INSERT [dbo].[BB_Inventory] OFF
GO
SET IDENTITY_INSERT [dbo].[BB_OrderDetails] ON 

SET IDENTITY_INSERT [dbo].[BB_OrderDetails] OFF
GO
SET IDENTITY_INSERT [dbo].[BB_OrderHeader] ON 

SET IDENTITY_INSERT [dbo].[BB_OrderHeader] OFF
GO
SET IDENTITY_INSERT [dbo].[BB_OrderTracking] ON 

INSERT [dbo].[BB_OrderTracking] ([RecordId], [OrderId], [Open], [InProcess], [Shipped], [Delivered], [IsCompleted], [Cancelled], [LastUpdatedBy], [Comments], [TrackingCode], [TrackingName], [Description], [SortOrderId], [CreatedOn], [LastModified], [StatusStyle], [TimeLine], [StatusIcon], [ExpectedOn]) VALUES (1, 1, 1, 1, 0, 0, NULL, 0, NULL, NULL, N'processing', N'Processing', N'Ready to be shipped', 1, CAST(N'2023-11-03T14:04:22.130' AS DateTime), CAST(N'2023-11-03T14:04:22.130' AS DateTime), N'bg-success dark__bg-success', NULL, NULL, NULL)
INSERT [dbo].[BB_OrderTracking] ([RecordId], [OrderId], [Open], [InProcess], [Shipped], [Delivered], [IsCompleted], [Cancelled], [LastUpdatedBy], [Comments], [TrackingCode], [TrackingName], [Description], [SortOrderId], [CreatedOn], [LastModified], [StatusStyle], [TimeLine], [StatusIcon], [ExpectedOn]) VALUES (2, 3, 1, 1, 0, 0, NULL, 0, N'', NULL, N'processing', N'Processing', N'Ready to be shipped', 1, CAST(N'2023-12-03T21:14:29.450' AS DateTime), CAST(N'2023-12-03T21:14:29.450' AS DateTime), N'bg-success dark__bg-success', NULL, NULL, NULL)
INSERT [dbo].[BB_OrderTracking] ([RecordId], [OrderId], [Open], [InProcess], [Shipped], [Delivered], [IsCompleted], [Cancelled], [LastUpdatedBy], [Comments], [TrackingCode], [TrackingName], [Description], [SortOrderId], [CreatedOn], [LastModified], [StatusStyle], [TimeLine], [StatusIcon], [ExpectedOn]) VALUES (3, 4, 1, 1, 0, 0, NULL, 0, N'', NULL, N'processing', N'Processing', N'Ready to be shipped', 1, CAST(N'2023-12-03T22:02:33.070' AS DateTime), CAST(N'2023-12-03T22:02:33.070' AS DateTime), N'bg-success dark__bg-success', NULL, NULL, NULL)
GO
SET IDENTITY_INSERT [dbo].[BB_OrderTracking] OFF
GO
SET IDENTITY_INSERT [dbo].[BB_QuoteDetails] ON 

SET IDENTITY_INSERT [dbo].[BB_QuoteDetails] OFF
GO
SET IDENTITY_INSERT [dbo].[BB_QuoteHeader] ON 

INSERT [dbo].[BB_QuoteHeader] ([RecordId], [QuoteNo], [SessionId], [UserDisplayId], [ShipToId], [BillToId], [ContactName], [ContactNo], [ContactEmail], [SubTotal], [Discount], [TaxAmount], [RecycleFee], [Shipping], [Total], [Status], [PaymentMethod], [PaymentStatus], [CreatedOn], [LastModified]) VALUES (52, 11867230139, N'1304ed65-f97d-4e9c-a0c7-6f730dd4d7dc', N'a8701061-246f-4f0a-b7db-cf788913b18d', 0, 0, N'', N'', N'', 688.0000, 0.0000, 34.4000, 0.0000, 0.0000, 722.4000, N'order', N'', N'', CAST(N'2024-01-13T15:23:06.107' AS DateTime), CAST(N'2024-01-13T15:23:18.867' AS DateTime))
INSERT [dbo].[BB_QuoteHeader] ([RecordId], [QuoteNo], [SessionId], [UserDisplayId], [ShipToId], [BillToId], [ContactName], [ContactNo], [ContactEmail], [SubTotal], [Discount], [TaxAmount], [RecycleFee], [Shipping], [Total], [Status], [PaymentMethod], [PaymentStatus], [CreatedOn], [LastModified]) VALUES (53, 11867230140, N'0c11138a-8541-4b0d-9649-1f8267e12350', N'a8701061-246f-4f0a-b7db-cf788913b18d', 0, 0, N'', N'', N'', 5900.0000, 0.0000, 295.0000, 0.0000, 0.0000, 6195.0000, N'order', N'', N'', CAST(N'2024-01-13T15:26:28.093' AS DateTime), CAST(N'2024-01-13T15:26:32.637' AS DateTime))
INSERT [dbo].[BB_QuoteHeader] ([RecordId], [QuoteNo], [SessionId], [UserDisplayId], [ShipToId], [BillToId], [ContactName], [ContactNo], [ContactEmail], [SubTotal], [Discount], [TaxAmount], [RecycleFee], [Shipping], [Total], [Status], [PaymentMethod], [PaymentStatus], [CreatedOn], [LastModified]) VALUES (54, 11867230141, N'7ef918e0-e56c-4862-9766-f2b29b8c683b', N'e62f03f4-2dcf-4f80-bc23-341651bd9338', 0, 0, N'', N'', N'', 370.0000, 0.0000, 18.5000, 0.0000, 0.0000, 388.5000, N'order', N'', N'', CAST(N'2024-01-13T15:29:17.973' AS DateTime), CAST(N'2024-01-13T15:29:21.773' AS DateTime))
SET IDENTITY_INSERT [dbo].[BB_QuoteHeader] OFF
GO
SET IDENTITY_INSERT [dbo].[BB_Role] ON 

INSERT [dbo].[BB_Role] ([RecordId], [Role], [Description], [CreatedOn], [ModifiedOn]) VALUES (1, N'Admin', NULL, CAST(N'2023-10-17T12:14:29.100' AS DateTime), CAST(N'2023-10-17T12:14:29.100' AS DateTime))
INSERT [dbo].[BB_Role] ([RecordId], [Role], [Description], [CreatedOn], [ModifiedOn]) VALUES (2, N'Buyer', NULL, CAST(N'2023-10-17T12:17:08.360' AS DateTime), CAST(N'2023-10-17T12:17:08.360' AS DateTime))
INSERT [dbo].[BB_Role] ([RecordId], [Role], [Description], [CreatedOn], [ModifiedOn]) VALUES (3, N'WarehouseAdmin', NULL, CAST(N'2023-10-17T12:17:08.360' AS DateTime), CAST(N'2023-10-17T12:17:08.360' AS DateTime))
SET IDENTITY_INSERT [dbo].[BB_Role] OFF
GO
SET IDENTITY_INSERT [dbo].[BB_SiteSetting] ON 

INSERT [dbo].[BB_SiteSetting] ([RecordId], [Name], [Value], [CreatedOn], [ModifiedOn]) VALUES (1, N'SiteDNSName', N'http://localhost:5145/', CAST(N'2024-01-09T01:32:08.130' AS DateTime), CAST(N'2024-01-09T01:32:08.130' AS DateTime))
SET IDENTITY_INSERT [dbo].[BB_SiteSetting] OFF
GO
SET IDENTITY_INSERT [dbo].[BB_TrackingMaster] ON 

INSERT [dbo].[BB_TrackingMaster] ([RecordId], [TrackingCode], [TrackingName], [Description], [SortOrderId], [CreatedOn], [LastModified]) VALUES (1, N'processing', N'Ready To Ship', N'We are preparing your order', 1, CAST(N'2023-10-30T15:35:26.043' AS DateTime), CAST(N'2023-10-30T15:35:26.043' AS DateTime))
INSERT [dbo].[BB_TrackingMaster] ([RecordId], [TrackingCode], [TrackingName], [Description], [SortOrderId], [CreatedOn], [LastModified]) VALUES (2, N'shipped', N'Order Shipped', N'Your order is ready for deliver', 2, CAST(N'2023-10-30T15:35:26.047' AS DateTime), CAST(N'2023-10-30T15:35:26.047' AS DateTime))
INSERT [dbo].[BB_TrackingMaster] ([RecordId], [TrackingCode], [TrackingName], [Description], [SortOrderId], [CreatedOn], [LastModified]) VALUES (3, N'delivered', N'Order Delivered', N'Your package is delivered', 3, CAST(N'2023-10-30T15:35:26.050' AS DateTime), CAST(N'2023-10-30T15:35:26.050' AS DateTime))
SET IDENTITY_INSERT [dbo].[BB_TrackingMaster] OFF
GO
SET IDENTITY_INSERT [dbo].[BB_UserJwtToken] ON 

SET IDENTITY_INSERT [dbo].[BB_UserJwtToken] OFF
GO
SET IDENTITY_INSERT [dbo].[BB_Users] ON 

INSERT [dbo].[BB_Users] ([RecordId], [DisplayId], [FirstName], [LastName], [Username], [Password], [Email], [PhoneNo], [RoleId], [IsActive], [CreatedOn], [ModifiedOn], [Gender], [ProfileImage], [CustomerType], [DefaultAddressId], [WarehouseId]) VALUES (100, N'9307a999-17c0-43cb-a1b2-1cf67f866f4b', N'Admin', N'D', N'Deepa', N'adn@123', N'deepa@gmail.com', N'9876543201', 1, 1, CAST(N'2023-09-04T12:08:44.650' AS DateTime), CAST(N'2024-01-13T14:22:55.367' AS DateTime), N'Female', N'/assets/custom-assets/Image/Profilegirl.jpeg', N'-', 1003, NULL)
INSERT [dbo].[BB_Users] ([RecordId], [DisplayId], [FirstName], [LastName], [Username], [Password], [Email], [PhoneNo], [RoleId], [IsActive], [CreatedOn], [ModifiedOn], [Gender], [ProfileImage], [CustomerType], [DefaultAddressId], [WarehouseId]) VALUES (101, N'a8701061-246f-4f0a-b7db-cf788913b18d', N'Raja', N'Lakshmi', N'Raji', N'123', N'raji@gmail.com', N'9123456708', 2, 1, CAST(N'2023-09-04T12:10:31.510' AS DateTime), CAST(N'2024-01-13T15:26:46.057' AS DateTime), N'Female', N'/assets/custom-assets/Image/Profilegirl2.jpg', N'BToB', 1004, NULL)
INSERT [dbo].[BB_Users] ([RecordId], [DisplayId], [FirstName], [LastName], [Username], [Password], [Email], [PhoneNo], [RoleId], [IsActive], [CreatedOn], [ModifiedOn], [Gender], [ProfileImage], [CustomerType], [DefaultAddressId], [WarehouseId]) VALUES (102, N'e62f03f4-2dcf-4f80-bc23-341651bd9338', N'Pechi', N'Deepa', N'Deepa', N'123', N'deepa@gmail.com', N'9876543231', 2, 1, CAST(N'2023-09-18T18:39:19.117' AS DateTime), CAST(N'2024-01-23T18:57:26.503' AS DateTime), N'Female', N'/assets/custom-assets/Image/Profilegirl.jpeg', N'BToC', 1002, NULL)
SET IDENTITY_INSERT [dbo].[BB_Users] OFF
GO
SET IDENTITY_INSERT [dbo].[BB_Warehouse] ON 

INSERT [dbo].[BB_Warehouse] ([RecordId], [DisplayId], [WarehouseCode], [WarehouseName], [Address], [City], [State], [Zipcode], [CreatedOn], [Modifiedon]) VALUES (1, N'3eb9121f-cd02-4cd8-8b85-2bad2207fa8e', N'WHC001', N'Warehouse1', N'77/9 KK Nagar', N'Madurai', N'Tamilnadu', N'658458', CAST(N'2024-01-31T13:41:58.280' AS DateTime), CAST(N'2024-01-31T13:41:58.280' AS DateTime))
INSERT [dbo].[BB_Warehouse] ([RecordId], [DisplayId], [WarehouseCode], [WarehouseName], [Address], [City], [State], [Zipcode], [CreatedOn], [Modifiedon]) VALUES (2, N'361847d3-023d-46a4-9fc3-adfe5e7532e2', N'WHC002', N'Warehouse2', N'Vasanth Nagar', N'Dindugakal', N'Tamilnadu', N'650058', CAST(N'2024-01-31T13:41:58.280' AS DateTime), CAST(N'2024-01-31T13:41:58.280' AS DateTime))
INSERT [dbo].[BB_Warehouse] ([RecordId], [DisplayId], [WarehouseCode], [WarehouseName], [Address], [City], [State], [Zipcode], [CreatedOn], [Modifiedon]) VALUES (3, N'9d503687-caa9-4287-a769-deb1735648ae', N'WHC003', N'Warehouse3', N' Rathinam Nagar', N'Theni', N'Tamilnadu', N'718400', CAST(N'2024-01-31T13:41:58.280' AS DateTime), CAST(N'2024-01-31T13:41:58.280' AS DateTime))
SET IDENTITY_INSERT [dbo].[BB_Warehouse] OFF
GO
SET IDENTITY_INSERT [dbo].[BB_WarehouseUserMapping] ON 

INSERT [dbo].[BB_WarehouseUserMapping] ([RecordId], [UserDisplayId], [WarehouseId], [WarehouseName], [CreatedOn], [ModifiedOn]) VALUES (1, N'a8701061-246f-4f0a-b7db-cf788913b18d', 2, N'Warehouse2', CAST(N'2024-01-31T17:15:55.587' AS DateTime), CAST(N'2024-01-31T17:15:55.587' AS DateTime))
INSERT [dbo].[BB_WarehouseUserMapping] ([RecordId], [UserDisplayId], [WarehouseId], [WarehouseName], [CreatedOn], [ModifiedOn]) VALUES (2, N'a8701061-246f-4f0a-b7db-cf788913b18d', 4, N'Warehouse4', CAST(N'2024-01-31T17:19:45.580' AS DateTime), CAST(N'2024-01-31T17:19:45.580' AS DateTime))
INSERT [dbo].[BB_WarehouseUserMapping] ([RecordId], [UserDisplayId], [WarehouseId], [WarehouseName], [CreatedOn], [ModifiedOn]) VALUES (3, N'6a8ac87f-0429-412d-ba68-0bf92f0d2d1b', 3, N'Warehouse3', CAST(N'2024-01-31T17:19:45.583' AS DateTime), CAST(N'2024-01-31T17:19:45.583' AS DateTime))
SET IDENTITY_INSERT [dbo].[BB_WarehouseUserMapping] OFF
GO
ALTER TABLE [dbo].[BB_Addresses] ADD  CONSTRAINT [DF_BB_Addresses_IsBillto]  DEFAULT ((0)) FOR [IsBillto]
GO
ALTER TABLE [dbo].[BB_Addresses] ADD  CONSTRAINT [DF_BB_Addresses_IsShipto]  DEFAULT ((0)) FOR [IsShipto]
GO
ALTER TABLE [dbo].[BB_Inventory] ADD  CONSTRAINT [DF_BB_Inventory_IsDefaultVarient]  DEFAULT ((0)) FOR [IsDefaultVarient]
GO
ALTER TABLE [dbo].[BB_OrderTracking] ADD  CONSTRAINT [DF_BB_Tracker_Open]  DEFAULT ((0)) FOR [Open]
GO
ALTER TABLE [dbo].[BB_OrderTracking] ADD  CONSTRAINT [DF_BB_Tracker_InProcess]  DEFAULT ((0)) FOR [InProcess]
GO
ALTER TABLE [dbo].[BB_OrderTracking] ADD  CONSTRAINT [DF_BB_Tracker_Shipped]  DEFAULT ((0)) FOR [Shipped]
GO
ALTER TABLE [dbo].[BB_OrderTracking] ADD  CONSTRAINT [DF_BB_Tracker_Delivered]  DEFAULT ((0)) FOR [Delivered]
GO
ALTER TABLE [dbo].[BB_OrderTracking] ADD  CONSTRAINT [DF_BB_OrderTracking_Cancelled]  DEFAULT ((0)) FOR [Cancelled]
GO
ALTER TABLE [dbo].[BB_OrderTracking] ADD  CONSTRAINT [DF_BB_OrderTracking_StatusStyle]  DEFAULT (N'bg-warning dark__bg-warning') FOR [StatusStyle]
GO
/****** Object:  StoredProcedure [dbo].[BB_CreateOrder]    Script Date: 6/29/2024 11:40:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROC [dbo].[BB_CreateOrder]    
(    
 @DisplayId uniqueidentifier,
 @addressid int=-999
)    
as    
begin    
    
Declare @OrderHeaderId bigint 
Declare @UserDisplayId UniqueIdentifier
declare @QuoteHeaderId bigint    
Declare @SalesQuoteRID bigint  
Declare @OrderNo bigint  
Declare @LastUpdatedBy nvarchar(100) 
Declare @ExpectedDeliveryDate datetime 
Declare @CustomerType nvarchar(50)

select @QuoteHeaderId=RecordId, @LastUpdatedBy = ContactName,@UserDisplayId=UserDisplayId  from BB_QuoteHeader where SessionId=@DisplayId 
select @CustomerType=CustomerType from BB_Users where DisplayId=@UserDisplayId 

if not exists (select * from BB_OrderHeader where SessionId=@DisplayId)
begin
Exec BB_SetCounter 'Order', @OrderNo output


if @CustomerType = 'BToB'
begin
set @ExpectedDeliveryDate = DATEADD(day, 1, Getdate())
end
else if @CustomerType = 'BToC'
begin
set @ExpectedDeliveryDate = DATEADD(day, 2, Getdate())
end
else 
begin
set @ExpectedDeliveryDate = DATEADD(day, 2, Getdate())
end

Insert into BB_OrderHeader(OrderNo,SessionId,ShipToId,BillToId,ContactName,ContactNo,ContactEmail,SubTotal,Discount,TaxAmount,RecycleFee,Shipping,
Total,[Status],PaymentMethod,PaymentStatus,CreatedOn,LastModified,UserDisplayId,ExpectedDeliveryDate)    
select @OrderNo,SessionId,@addressid,BillToId,ContactName,ContactNo,ContactEmail,SubTotal,Discount,TaxAmount,RecycleFee,Shipping,
Total,'InProcess','Cash On Delivery',PaymentStatus,GETDATE(),GETDATE(),UserDisplayId,@ExpectedDeliveryDate
 from BB_QuoteHeader QH 
 where QH.SessionId=@DisplayId    
    
 Set @OrderHeaderId=SCOPE_IDENTITY()     
    
Insert into BB_OrderDetails(OrderHeaderId,SessionId,Supplier,Category,ProductId,Qty,ProductName,Price,ExtPrice,InEnglish,InTamil,MRP,PurchasePrice,
Tax,TaxAmount,NetPurchasePrice,PurchasePercentage,NetPurchasePercentage,HSNSAC,SellingProfitPercentage,SellingPrice,SellingPercentage,ClassicProfitPercentage,
ClassicPrice,ClassicPercentage,QuantityPerBox,RetailPrice,Unit,MinimumOrderQuantity,InitialStock,BulkQuantity,BulkQuantityPrice,EnableBarCodeSticker,
ProductImage,CreatedOn,LastModified)    
select @OrderHeaderId,SessionId,Supplier,Category,ProductId,Qty,ProductName,Price,ExtPrice,InEnglish,InTamil,MRP,PurchasePrice,
Tax,TaxAmount,NetPurchasePrice,PurchasePercentage,NetPurchasePercentage,HSNSAC,SellingProfitPercentage,SellingPrice,SellingPercentage,ClassicProfitPercentage,
ClassicPrice,ClassicPercentage,QuantityPerBox,RetailPrice,Unit,MinimumOrderQuantity,InitialStock,BulkQuantity,BulkQuantityPrice,EnableBarCodeSticker,
ProductImage,GETDATE(),GETDATE()
from BB_QuoteDetails    
where SessionId=@DisplayId and QuoteHeaderId=@QuoteHeaderId 

Update BB_QuoteHeader Set [Status]='order'  where SessionId=@DisplayId 

--Insert into BB_OrderTracking (InProcess,LastUpdatedBy,Comments,OrderId,TrackingCode,TrackingName,[Description],SortOrderId,CreatedOn,LastModified)
--select 1,@LastUpdatedBy,null,@OrderHeaderId,TrackingCode,TrackingName,[Description],SortOrderId,GETDATE(),GETDATE()
--from BB_TrackingMaster where TrackingCode = 'processing'

Exec BB_UpsetOrderStatus @OrderHeaderId,'processing',@LastUpdatedBy

End   
End    
    
    
     
    
GO
/****** Object:  StoredProcedure [dbo].[BB_DeleteCartItem]    Script Date: 6/29/2024 11:40:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE proc [dbo].[BB_DeleteCartItem]  
( 
@SessionId nvarchar(200) ='',
@RecordId bigint = -999
)  
as  
begin  

Declare @QuoteHeaderId bigint
Declare @DisplayId uniqueidentifier
Declare @Qty int
Declare @ProductId int



if @RecordId <> -999

begin
select @QuoteHeaderId=QuoteHeaderId,@Qty=Qty,@ProductId=ProductId from BB_QuoteDetails where RecordId=@RecordId
select @DisplayId=SessionId from BB_QuoteHeader where RecordId=@QuoteHeaderId


delete from BB_QuoteDetails where RecordId=@RecordId

update BB_Inventory Set InitialStock =InitialStock + @Qty where ProductId=@ProductId

Exec BB_SetQuoteTotal  @SessionId 

end

--Else
--Begin

--if @SessionId <> ''
--begin
--delete from BB_QuoteDetails where SessionId=@SessionId
--end

--End
  
end

GO
/****** Object:  StoredProcedure [dbo].[BB_DeleteProduct]    Script Date: 6/29/2024 11:40:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[BB_DeleteProduct]  
(  
@DisplayId nvarchar(200)
)  
as  
begin  

delete from BB_Inventory where DisplayId=@DisplayId
  
end
GO
/****** Object:  StoredProcedure [dbo].[BB_DeleteUser]    Script Date: 6/29/2024 11:40:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create proc [dbo].[BB_DeleteUser]  
(  
@DisplayId nvarchar(200)
)  
as  
begin  

delete from BB_Users where DisplayId=@DisplayId
  
end
GO
/****** Object:  StoredProcedure [dbo].[BB_GenerateNewGuid]    Script Date: 6/29/2024 11:40:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


Create Proc [dbo].[BB_GenerateNewGuid]
(
@Guid Uniqueidentifier Output
)
As
Begin

Declare @NewGuid Uniqueidentifier = NEWID()
Declare @UsedGuidTbl table(ExistingGuid uniqueidentifier)

Insert Into @UsedGuidTbl(ExistingGuid)
Select distinct SessionId FROM BB_QuoteHeader


SELECT @Guid = NEWID() WHERE NOT EXISTS (Select ExistingGuid from @UsedGuidTbl WHERE ExistingGuid = @NewGuid)

End
GO
/****** Object:  StoredProcedure [dbo].[BB_GetActiveQuote]    Script Date: 6/29/2024 11:40:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROC [dbo].[BB_GetActiveQuote]    
(    
 @SessionId uniqueidentifier   
)    
as    
begin    
    
Declare @QuoteHeaderId bigint 
Declare @Status nvarchar(50)=''
 Declare @UserDisplayId UniqueIdentifier
 
select @QuoteHeaderId=RecordId,@Status=[Status],@UserDisplayId=UserDisplayId from BB_QuoteHeader where SessionId=@SessionId

if @Status = 'cart'
Begin
    DECLARE @ResultJSON NVARCHAR(MAX) ='[]';
	DECLARE @QUOTEHEADER NVARCHAR(MAX)
	DECLARE @QUOTELINES NVARCHAR(MAX)
	 DECLARE @ADDRESS NVARCHAR(MAX)

SET @QUOTEHEADER = (select qh.RecordId,QuoteNo,SessionId,ShipToId,BillToId,ContactName,ContactNo,ContactEmail,SubTotal,Discount,TaxAmount,RecycleFee,Shipping,
Total,[Status],PaymentMethod,PaymentStatus,qh.CreatedOn,qh.LastModified,
case 
when us.CustomerType = 'BToB' then CONVERT(varchar(11), DATEADD(day, 1, Getdate()), 13)
when us.CustomerType = 'BToC' then CONVERT(varchar(11), DATEADD(day, 3, Getdate()), 13)
else CONVERT(varchar(11), DATEADD(day, 3, Getdate()), 13)
end as 'ExpectedDeliveryDate'
from BB_QuoteHeader qh
inner join BB_Users us on us.DisplayId= qh.UserDisplayId
 where SessionId=@SessionId FOR JSON PATH, WITHOUT_ARRAY_WRAPPER)   
   
SET @QUOTELINES = (select RecordId,QuoteHeaderId,SessionId,Supplier,Category,ProductId,Qty,ProductName,Price,ExtPrice,InEnglish,InTamil,MRP,PurchasePrice,
Tax,TaxAmount,NetPurchasePrice,PurchasePercentage,NetPurchasePercentage,HSNSAC,SellingProfitPercentage,SellingPrice,SellingPercentage,ClassicProfitPercentage,
ClassicPrice,ClassicPercentage,QuantityPerBox,RetailPrice,Unit,MinimumOrderQuantity,InitialStock,BulkQuantity,BulkQuantityPrice,EnableBarCodeSticker,
ProductImage,CreatedOn,LastModified,dbo.BB_fGetImagePath(ProductId) as 'ProductImagePath'
from BB_QuoteDetails where SessionId=@SessionId and QuoteHeaderId=@QuoteHeaderId FOR JSON PATH) 

SET @ADDRESS = (select ad.RecordId,us.Username,Address1,Address2,City,[State],Zipcode,Country,us.Email,us.PhoneNo
from BB_Users us
inner join BB_Addresses ad on ad.RecordId = us.DefaultAddressId
where DisplayId=@UserDisplayId FOR JSON PATH, WITHOUT_ARRAY_WRAPPER)

    Set @ResultJSON = '{ "Header": '+@QUOTEHEADER+', "Lines": '+@QUOTELINES+', "Address": '+@ADDRESS+' }'

	SELECT @ResultJSON AS Result

End     
End    
    
    
     
    
GO
/****** Object:  StoredProcedure [dbo].[BB_GetAddress]    Script Date: 6/29/2024 11:40:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROC [dbo].[BB_GetAddress]    
(    
 @UserDisplayId uniqueidentifier   
)    
as    
begin    

DECLARE @ADDRESS NVARCHAR(MAX) ='[]';


SET @ADDRESS = (select ad.RecordId,us.Username,Address1,Address2,City,[State],Zipcode,Country,us.Email,us.PhoneNo,us.DefaultAddressId
from BB_Users us
left outer join BB_Addresses ad on ad.CustomerId = us.DisplayId
where DisplayId=@UserDisplayId FOR JSON PATH)     

SELECT @ADDRESS AS Result

End    
    
    
     
    
GO
/****** Object:  StoredProcedure [dbo].[BB_GetAddressByRecordId]    Script Date: 6/29/2024 11:40:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROC [dbo].[BB_GetAddressByRecordId]      
(
@RecordId bigint = -999 
) 
As      
Begin

select(select RecordId,CustomerId as 'DisplayId',[Name],Address1,Address2,IsNull(Address3,'') as 'Address3',City,[State],Zipcode,Phone as 'PhoneNo',[Type]
from BB_Addresses where RecordId = @RecordId FOR JSON PATH , WITHOUT_ARRAY_WRAPPER )

End  



GO
/****** Object:  StoredProcedure [dbo].[BB_GetCategory]    Script Date: 6/29/2024 11:40:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[BB_GetCategory]  
(
@Keyword varchar(100) = ''
)
As  
begin 

Declare @Sqlstr varchar(max) = ''
Declare @Filter varchar(500) = ' Where 1=1 '

DECLARE @ResultJSON NVARCHAR(MAX) 
DECLARE @JSONRESPONSE NVARCHAR(MAX);

If @Keyword <> ''
Begin
Set @Filter += ' And (CategoryCode like ''%'+ @Keyword +'%'' OR CategoryName like ''%'+ @Keyword +'%'' OR [Description] like ''%'+ @Keyword +'%'')  '
End

--Declare @RequestTbl table(RecordId bigint,DisplayId uniqueidentifier,CategoryCode varchar(100),CategoryName varchar(200),
--[Description] varchar(max),CategoryImage varchar(1000),CreatedOn datetime,LastModified datetime, ItemCount Int)

Set @Sqlstr = 'Select (Select RecordId,DisplayId,CategoryCode,CategoryName,[Description],CategoryImage,CreatedOn,LastModified, dbo.BB_fGetProductCountByCategory(RecordId) as ''ItemCount''
from BB_Category ' + @Filter + 'order by CategoryName asc FOR JSON PATH) as Result'

Print(@Sqlstr)
--Insert Into @RequestTbl(RecordId,DisplayId,CategoryCode,CategoryName,[Description],CategoryImage,CreatedOn,LastModified,ItemCount)
Exec(@Sqlstr)

 --SET @JSONRESPONSE = (Select RecordId,DisplayId,CategoryCode,CategoryName,[Description],CategoryImage,CreatedOn,LastModified,ItemCount
 --from @RequestTbl  FOR JSON PATH)
  
--SET @ResultJSON='{"listCategories":'+@JSONRESPONSE+'}';

--SELECT @JSONRESPONSE AS Result

--select RecordId,DisplayId,CategoryCode,CategoryName,[Description],CategoryImage,CreatedOn,LastModified
--from BB_Category  order by CreatedOn desc
  
end

GO
/****** Object:  StoredProcedure [dbo].[BB_GetDashboardDetails]    Script Date: 6/29/2024 11:40:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--Exec BB_GetDashboardDetails 'E62F03F4-2DCF-4F80-BC23-341651BD9338'

CREATE PROC [dbo].[BB_GetDashboardDetails]      
(
@DisplayId  uniqueidentifier= null
)      
As      
Begin
DECLARE @ResultJSON NVARCHAR(MAX) ='[]';
DECLARE @CATEGORY NVARCHAR(MAX)
DECLARE @ORDERS NVARCHAR(MAX)
DECLARE @CARTITEMS NVARCHAR(MAX) 
DECLARE @Result Table (ORDERHEADER nvarchar (max))
Declare @CartDisplayId Uniqueidentifier
Declare @ItemCount NVARCHAR(5)

SET @CATEGORY=   (Select RecordId,DisplayId,CategoryCode,CategoryName,[Description],CategoryImage,CreatedOn,LastModified,
dbo.BB_fGetProductCountByCategory(RecordId) as 'ItemCount'
from BB_Category order by CategoryName asc  FOR JSON PATH)

SET @ORDERS=   (Select top 4 oh.RecordId,OrderNo,SessionId,ShipToId,BillToId,ContactName,ContactNo,ContactEmail,SubTotal,Discount,
TaxAmount,RecycleFee,Shipping,Total,[Status],PaymentMethod,PaymentStatus,oh.CreatedOn,oh.LastModified,
Name,Address1,Address2,City,[State],Zipcode,Country, Email,Phone
from BB_OrderHeader oh
left outer join BB_Addresses ad on oh.ShipToId = ad.RecordId
where UserDisplayId = @DisplayId Order by oh.CreatedOn desc FOR JSON PATH)


If Exists(Select * from BB_QuoteHeader where [Status] = 'Cart' and UserDisplayId = @DisplayId)
Begin
Select top 1 @CartDisplayId = SessionId from BB_QuoteHeader where [Status] = 'Cart' 
and UserDisplayId = @DisplayId order by RecordId desc

SET @CARTITEMS = (select RecordId,QuoteHeaderId,SessionId,Supplier,Category,ProductId,Qty,ProductName,Price,ExtPrice,InEnglish,InTamil,MRP,PurchasePrice,
Tax,TaxAmount,NetPurchasePrice,PurchasePercentage,NetPurchasePercentage,HSNSAC,SellingProfitPercentage,SellingPrice,SellingPercentage,ClassicProfitPercentage,
ClassicPrice,ClassicPercentage,QuantityPerBox,RetailPrice,Unit,MinimumOrderQuantity,InitialStock,BulkQuantity,BulkQuantityPrice,EnableBarCodeSticker,
ProductImage,CreatedOn,LastModified,dbo.BB_fGetImagePath(ProductId) as 'ProductImagePath'
from BB_QuoteDetails where SessionId=@CartDisplayId  FOR JSON PATH)

select @ItemCount= dbo.BB_fGetCartItemCount(@CartDisplayId) 

End
Else
Begin
SET @CARTITEMS ='[]'
SET @ItemCount ='0'

End


--Exec BB_GetActiveQuote @CartDisplayId
--', "ItemCount": '+ @ItemCount+
	Set @ResultJSON = '{ "Category": '+ @CATEGORY +', "Orders": '+@ORDERS +', "Cart": '+@CARTITEMS+', "ItemCount": '+ @ItemCount+' }'

SELECT @ResultJSON AS Result

End      
      
 









  

GO
/****** Object:  StoredProcedure [dbo].[BB_GetDeliveryAgentOrders]    Script Date: 6/29/2024 11:40:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--Exec BB_GetDeliveryAgentOrders 106


CREATE proc [dbo].[BB_GetDeliveryAgentOrders]  
(
@DisplayId varchar(50) = '',
@Keyword varchar(100) = '',
@Code varchar(100) = ''
)
as  
begin 

Declare @sqlstr nvarchar(max)=''
Declare @sqlfilterstr nvarchar(max)=' Where 1=1 '
Declare @roleid int
Declare @DeliveryAgentId int

DECLARE @ResultJSON NVARCHAR(MAX) ='[]';
DECLARE @ORDERHEADER NVARCHAR(MAX)
DECLARE @ORDERLINES NVARCHAR(MAX)
DECLARE @ADDRESS NVARCHAR(MAX)
DECLARE @RESULT Table (ORDERHEADER nvarchar (max))


select @DeliveryAgentId=RecordId from BB_Users where DisplayId=@DisplayId



If @DeliveryAgentId <> -999 
Begin
set @sqlfilterstr += ' And (DeliveryAgentId = ''' + convert(varchar(50),@DeliveryAgentId) + ''' )'

--set @sqlfilterstr += ' And (DeliveryAgentId = ' + @RecordId + ' )'
End

If @Keyword <> ''
Begin
set @sqlfilterstr += ' And (Status like ''%'+ @Keyword +'%'' OR OrderNo like ''%'+ @Keyword +'%'')'
End

If @Code = 'trackorder'
Begin
set @sqlfilterstr += ' And (Status <> ''Delivered'')'
End


set @sqlstr ='Select (Select oh.RecordId,OrderNo,SessionId,ShipToId,BillToId,ContactName,ContactNo,ContactEmail,SubTotal,Discount,
TaxAmount,RecycleFee,Shipping,Total,[Status],PaymentMethod,PaymentStatus,oh.CreatedOn,oh.LastModified,
Name,Address1,Address2,City,[State],Zipcode,Country, Email,Phone,DeliveryAgentId
from BB_OrderHeader oh
left outer join BB_Addresses ad on oh.ShipToId = ad.RecordId ' + @sqlfilterstr + ' Order by oh.CreatedOn desc FOR JSON PATH)'



print(@sqlstr)
 --print(@sqlstr) EXEC(@sqlstr)
 
 --Exec sp_executesql @sqlstr, N'@ORDERHEADER nvarchar(max) out', @ORDERHEADER out

Insert @RESULT exec sp_executesql @sqlstr

select @ORDERHEADER=ORDERHEADER  from @RESULT

--SET @ADDRESS = (select oh.RecordId as OrderId,ad.RecordId,ad.[Name] as Username,Address1,Address2,City,[State],Zipcode,Country, ad.Email,ad.Phone as'PhoneNo'
--from BB_OrderHeader oh 
--left outer join BB_Addresses ad on oh.ShipToId = ad.RecordId
--where UserDisplayId=@DisplayId Order by oh.CreatedOn desc FOR JSON PATH)

	Set @ResultJSON = '{ "Header": '+ @ORDERHEADER +' }'
	--Set @ResultJSON = '{ "Header": '+ @ORDERHEADER +', "Address": '+@ADDRESS+' }'

	SELECT @ResultJSON AS Result
end


GO
/****** Object:  StoredProcedure [dbo].[BB_GetMyCart]    Script Date: 6/29/2024 11:40:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE Proc [dbo].[BB_GetMyCart] 
(
@SessionId uniqueidentifier
)
As
Begin

Declare @TaxAmount money
Declare @SubTotal money
Declare @QuoteTotal money
Declare @QuoteHeaderId bigint
Declare @SalesTax money
Declare @RecycleFee bigint
Declare @Status varchar(50)


Declare @CartTbl table(RecordId int,ProductID nvarchar(100), Qty int,Supplier nvarchar(100), ProductName nvarchar(100),PurchasePrice decimal,ProductImage varchar(8000), LastModified datetime)

Select @QuoteHeaderId = RecordId,@TaxAmount = TaxAmount,@RecycleFee = RecycleFee,@SubTotal = SubTotal,@QuoteTotal = Total, @Status =  Isnull([Status],'cart')
From BB_QuoteHeader
where SessionId=@SessionId 

--QuoteHeaderId,Supplier,Category,ProductId,Qty,ProductName,InEnglish,InTamil,MRP,PurchasePrice,Tax,NetPurchasePrice,
--PurchasePercentage,NetPurchasePercentage,HSNSAC,SellingProfitPercentage,SellingPrice,SellingPercentage,ClassicProfitPercentage,
--ClassicPrice,ClassicPercentage,QuantityPerBox,RetailPrice,Unit,MinimumOrderQuantity,InitialStock,BulkQuantity,BulkQuantityPrice,
--EnableBarCodeSticker,ProductImage,CreatedOn,LastModified

Insert Into @CartTbl(RecordId,ProductID,Supplier,Qty, ProductName, PurchasePrice, LastModified)
Select D.RecordId,D.ProductId,D.Supplier,D.Qty,D.ProductName,D.PurchasePrice,GETDATE()
From BB_QuoteDetails D
inner join BB_Inventory protbl with(nolock) on protbl.ProductId=D.ProductId 

Select @TaxAmount as 'TaxAmount',@RecycleFee as 'RecycleFee',@SubTotal as 'SubTotal',@QuoteTotal as 'QuoteTotal',
@Status as 'Status',RecordId,ProductID,Supplier,Qty, ProductName, PurchasePrice,ProductImage, LastModified
From @CartTbl order by LastModified desc

End
GO
/****** Object:  StoredProcedure [dbo].[BB_GetMyOrders]    Script Date: 6/29/2024 11:40:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[BB_GetMyOrders]  
(
@DisplayId varchar(50) = '',
@Keyword varchar(100) = '',
@Code varchar(100) = ''
)
as  
begin 

Declare @sqlstr nvarchar(max)=''
Declare @sqlfilterstr nvarchar(max)=' Where 1=1 '
Declare @roleid int

DECLARE @ResultJSON NVARCHAR(MAX) ='[]';
DECLARE @ORDERHEADER NVARCHAR(MAX)
DECLARE @ORDERLINES NVARCHAR(MAX)
DECLARE @ADDRESS NVARCHAR(MAX)
DECLARE @RESULT Table (ORDERHEADER nvarchar (max))


select @roleid=RoleId from BB_Users where DisplayId=@DisplayId

If @roleid=3
Begin
If @DisplayId <> ''
Begin
set @sqlfilterstr += ' And (us.DisplayId = ''' + convert(varchar(50),@DisplayId) + ''' )'
End

If @Keyword <> ''
Begin
set @sqlfilterstr += ' And (Status like ''%'+ @Keyword +'%'' OR OrderNo like ''%'+ @Keyword +'%'')'
End

set @sqlstr ='Select (select oh.WarehouseId,oh.RecordId,OrderNo,SessionId,ShipToId,BillToId,ContactName,ContactNo,ContactEmail,
SubTotal,Discount,TaxAmount,RecycleFee,Shipping,Total,[Status],PaymentMethod,PaymentStatus,oh.CreatedOn,oh.LastModified,us.DisplayId,
ad.Name,Address1,Address2,ad.City,ad.[State],ad.Zipcode,ad.Country, ad.Email,ad.Phone,
wh.WarehouseCode,wh.WarehouseName,wh.Address as ''WAddress'',wh.City as ''WCity'',wh.State as ''WState''
from BB_OrderHeader oh
inner join BB_Users us on us.WarehouseId = oh.WarehouseId
inner join BB_Warehouse wh on wh.RecordId = oh.WarehouseId
left outer join BB_Addresses ad on oh.ShipToId = ad.RecordId' + @sqlfilterstr + ' Order by oh.CreatedOn desc FOR JSON PATH)'
print(@sqlstr)
End
Else
Begin
If @DisplayId <> '' and @roleid <> 1
Begin
set @sqlfilterstr += ' And (UserDisplayId = ''' + convert(varchar(50),@DisplayId) + ''' )'
End

If @Keyword <> ''
Begin
set @sqlfilterstr += ' And (Status like ''%'+ @Keyword +'%'' OR OrderNo like ''%'+ @Keyword +'%'')'
End

If @Code = 'trackorder'
Begin
set @sqlfilterstr += ' And (Status <> ''Delivered'')'
End


set @sqlstr ='Select (Select oh.RecordId,OrderNo,SessionId,ShipToId,BillToId,ContactName,ContactNo,ContactEmail,SubTotal,Discount,
TaxAmount,RecycleFee,Shipping,Total,[Status],PaymentMethod,PaymentStatus,oh.CreatedOn,oh.LastModified,
Name,Address1,Address2,City,[State],Zipcode,Country, Email,Phone
from BB_OrderHeader oh
left outer join BB_Addresses ad on oh.ShipToId = ad.RecordId ' + @sqlfilterstr + ' Order by oh.CreatedOn desc FOR JSON PATH)'


End
print(@sqlstr)
 --print(@sqlstr) EXEC(@sqlstr)
 
 --Exec sp_executesql @sqlstr, N'@ORDERHEADER nvarchar(max) out', @ORDERHEADER out

Insert @RESULT exec sp_executesql @sqlstr

select @ORDERHEADER=ORDERHEADER  from @RESULT

--SET @ADDRESS = (select oh.RecordId as OrderId,ad.RecordId,ad.[Name] as Username,Address1,Address2,City,[State],Zipcode,Country, ad.Email,ad.Phone as'PhoneNo'
--from BB_OrderHeader oh 
--left outer join BB_Addresses ad on oh.ShipToId = ad.RecordId
--where UserDisplayId=@DisplayId Order by oh.CreatedOn desc FOR JSON PATH)

	Set @ResultJSON = '{ "Header": '+ @ORDERHEADER +' }'
	--Set @ResultJSON = '{ "Header": '+ @ORDERHEADER +', "Address": '+@ADDRESS+' }'

	SELECT @ResultJSON AS Result
end


GO
/****** Object:  StoredProcedure [dbo].[BB_GetOrderDetails]    Script Date: 6/29/2024 11:40:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--Exec BB_GetOrderDetails '4c116dbf-9ba0-4e01-b346-5678a515ebc2'

CREATE PROC [dbo].[BB_GetOrderDetails]    
(    
 @SessionId uniqueidentifier   
)    
as    
begin    
    
 Declare @OrderHeaderId bigint 
 Declare @UserDisplayId UniqueIdentifier
 Declare @AddressId int
 DECLARE @ResultJSON NVARCHAR(MAX) ='[]';
 DECLARE @ORDERHEADER NVARCHAR(MAX)
 DECLARE @ORDERLINES NVARCHAR(MAX)
 DECLARE @ADDRESS NVARCHAR(MAX)
 DECLARE @STATUS NVARCHAR(MAX)
 DECLARE @WAREHOUSE NVARCHAR(MAX)
 DECLARE @DELIVERYAGENTS NVARCHAR(MAX)

select @OrderHeaderId=RecordId from BB_OrderHeader where SessionId=@SessionId
select @UserDisplayId=UserDisplayId from BB_OrderHeader where SessionId=@SessionId
select @AddressId=ShipToId from BB_OrderHeader where SessionId=@SessionId

SET @ORDERHEADER = (select RecordId,OrderNo,SessionId,ShipToId,BillToId,ContactName,ContactNo,ContactEmail,SubTotal,Discount,TaxAmount,RecycleFee,Shipping,
Total,[Status],PaymentMethod,PaymentStatus,CreatedOn,LastModified,CONVERT(varchar(11), ExpectedDeliveryDate, 13) as 'ExpectedDeliveryDate',
CONVERT(varchar(11), CreatedOn, 13) as 'PlacedOn'
from BB_OrderHeader where SessionId=@SessionId FOR JSON PATH , WITHOUT_ARRAY_WRAPPER )
   
SET @ORDERLINES = (select RecordId,OrderHeaderId,SessionId,Supplier,Category,ProductId,Qty,ProductName,Price,ExtPrice,InEnglish,InTamil,MRP,PurchasePrice,
Tax,TaxAmount,NetPurchasePrice,PurchasePercentage,NetPurchasePercentage,HSNSAC,SellingProfitPercentage,SellingPrice,SellingPercentage,ClassicProfitPercentage,
ClassicPrice,ClassicPercentage,QuantityPerBox,RetailPrice,Unit,MinimumOrderQuantity,InitialStock,BulkQuantity,BulkQuantityPrice,EnableBarCodeSticker,
ProductImage,CreatedOn,LastModified,dbo.BB_fGetImagePath(ProductId) as 'ProductImagePath'
from BB_OrderDetails where SessionId=@SessionId and OrderHeaderId=@OrderHeaderId FOR JSON PATH)

SET @ADDRESS = (select RecordId,[Name] as 'Username',Address1,Address2,City,[State],Zipcode,Country,Email,Phone as 'PhoneNo'
from BB_Addresses where RecordId=@AddressId FOR JSON PATH, WITHOUT_ARRAY_WRAPPER)

SET @STATUS = (select RecordId,OrderId,InProcess,Shipped,Delivered,IsCompleted,LastUpdatedBy,Comments,TrackingCode,TrackingName,[Description],
SortOrderId,CreatedOn,LastModified,StatusStyle,TimeLine,StatusIcon,CONVERT(varchar(11), ExpectedOn, 13) as 'ExpectedOn'
from BB_OrderTracking where OrderId=@OrderHeaderId order by SortOrderId asc FOR JSON PATH)

SET @WAREHOUSE = (select RecordId,DisplayId,WarehouseCode,WarehouseName,[Address],City,[State],Zipcode,CreatedOn,Modifiedon
from BB_Warehouse order by CreatedOn asc FOR JSON PATH)

SET @DELIVERYAGENTS = (select us.RecordId,DisplayId,FirstName,LastName,Username,[Password],Email,PhoneNo,IsActive,us.CreatedOn,
us.ModifiedOn,Gender,ProfileImage,CustomerType,DefaultAddressId,[Role]
from BB_Users us
inner join BB_Role rl on rl.RecordId = us.RoleId
where us.RoleId=4 order by FirstName asc FOR JSON PATH)
    
	Set @ResultJSON = '{ "Header": '+@ORDERHEADER+', "Lines": '+@ORDERLINES+' , "Address": '+@ADDRESS+' , "Status": '+@STATUS+' , "Warehouse": '+@WAREHOUSE+' , "Deliveryagents": '+@DELIVERYAGENTS+' }'

	SELECT @ResultJSON AS Result
End    
    
    
     
    
GO
/****** Object:  StoredProcedure [dbo].[BB_GetProductById]    Script Date: 6/29/2024 11:40:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE proc [dbo].[BB_GetProductById]  
(
@ProductId nvarchar(100) = ''
)
as  
begin 

 DECLARE @ResultJSON NVARCHAR(MAX) ='[]';
 DECLARE @PRODUCTDETAILS NVARCHAR(MAX)
 DECLARE @PRODUCTVARIENTS NVARCHAR(MAX)


--Select (select RecordId,DisplayId,Supplier,Category,ProductId,ProductName,InEnglish,InTamil,MRP,PurchasePrice,Tax,NetPurchasePrice,PurchasePercentage,
--NetPurchasePercentage,HSNSAC,SellingProfitPercentage,SellingPrice,SellingPercentage,ClassicProfitPercentage,ClassicPrice,ClassicPercentage,
--QuantityPerBox,RetailPrice,Unit,MinimumOrderQuantity,InitialStock,BulkQuantity,BulkQuantityPrice,EnableBarCodeSticker,ProductImagePath,
----dbo.BB_fGetVarients(ProductId)  as Varients
--REPLACE(dbo.BB_fGetVarients(ProductId),'\"','"') as Varients
--from BB_Inventory  where ProductId=@ProductId FOR JSON PATH) as Result

SET @PRODUCTDETAILS =(select top 1 RecordId,DisplayId,Supplier,Category,ProductId,ProductName,InEnglish,InTamil,MRP,PurchasePrice,Tax,NetPurchasePrice,PurchasePercentage,
NetPurchasePercentage,HSNSAC,SellingProfitPercentage,SellingPrice,SellingPercentage,ClassicProfitPercentage,ClassicPrice,ClassicPercentage,
QuantityPerBox,RetailPrice,Unit,MinimumOrderQuantity,InitialStock,BulkQuantity,BulkQuantityPrice,EnableBarCodeSticker,ProductImagePath
from BB_Inventory  where ProductId=@ProductId FOR JSON PATH, WITHOUT_ARRAY_WRAPPER) 

SET @PRODUCTVARIENTS = dbo.BB_fGetVarients(@ProductId)

Set @ResultJSON = '{ "ProductDetail": '+@PRODUCTDETAILS+', "Varients": '+@PRODUCTVARIENTS+' }'
SELECT @ResultJSON AS Result
  
end

GO
/****** Object:  StoredProcedure [dbo].[BB_GetProducts]    Script Date: 6/29/2024 11:40:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[BB_GetProducts]  
(
@DisplayId varchar(50) = '',
@Keyword varchar(100) = ''
)
as  
begin 

Declare @CategoryRId bigint = -999
Declare @sqlstr nvarchar(max)=''
Declare @sqlfilterstr nvarchar(max)=' Where 1=1 '

If @DisplayId <> ''
Begin
select @CategoryRId = RecordId from BB_Category where DisplayId=@DisplayId
set @sqlfilterstr += ' And (CategoryRId = ' + convert(varchar(50),@CategoryRId) + ')'
End

If @Keyword <> ''
Begin
set @sqlfilterstr += ' And (Supplier like ''%'+ @Keyword +'%'' OR ProductName like ''%'+ @Keyword +'%'' OR InEnglish like ''%'+ @Keyword +'%'' 
OR Unit like ''%'+ @Keyword +'%'' OR Category like ''%'+ @Keyword +'%'')'
End

set @sqlstr ='Select (Select distinct RecordId,DisplayId,Supplier,Category,ProductId,ProductName,InEnglish,InTamil,MRP,PurchasePrice,Tax,NetPurchasePrice,PurchasePercentage,
NetPurchasePercentage,HSNSAC,SellingProfitPercentage,SellingPrice,SellingPercentage,ClassicProfitPercentage,ClassicPrice,ClassicPercentage,
QuantityPerBox,RetailPrice,Unit,MinimumOrderQuantity,InitialStock,BulkQuantity,BulkQuantityPrice,EnableBarCodeSticker,ProductImagePath
from BB_Inventory' + @sqlfilterstr + ' Order by ProductName asc FOR JSON PATH) as Result'

Print @sqlstr  
EXEC(@sqlstr)

end
GO
/****** Object:  StoredProcedure [dbo].[BB_GetProductsByCategoryId]    Script Date: 6/29/2024 11:40:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE proc [dbo].[BB_GetProductsByCategoryId]  
(
@DisplayId uniqueidentifier = null
)
as  
begin 

Declare @CategoryRId bigint = -999
Declare @sqlstr nvarchar(max)=''


set @sqlstr ='select RecordId,DisplayId,Supplier,Category,ProductId,ProductName,InEnglish,InTamil,MRP,PurchasePrice,Tax,NetPurchasePrice,PurchasePercentage,
NetPurchasePercentage,HSNSAC,SellingProfitPercentage,SellingPrice,SellingPercentage,ClassicProfitPercentage,ClassicPrice,ClassicPercentage,
QuantityPerBox,RetailPrice,Unit,MinimumOrderQuantity,InitialStock,BulkQuantity,BulkQuantityPrice,EnableBarCodeSticker
from BB_Inventory'



if @DisplayId is not null

begin
select @CategoryRId = RecordId from BB_Category where DisplayId=@DisplayId

set @sqlstr ='select RecordId,DisplayId,Supplier,Category,ProductId,ProductName,InEnglish,InTamil,MRP,PurchasePrice,Tax,NetPurchasePrice,PurchasePercentage,
NetPurchasePercentage,HSNSAC,SellingProfitPercentage,SellingPrice,SellingPercentage,ClassicProfitPercentage,ClassicPrice,ClassicPercentage,
QuantityPerBox,RetailPrice,Unit,MinimumOrderQuantity,InitialStock,BulkQuantity,BulkQuantityPrice,EnableBarCodeSticker,CreatedOn,LastModified
from BB_Inventory where CategoryRId ='+ CAST(@CategoryRId AS VARCHAR(15)) 
end


EXEC(@sqlstr)
  
end

GO
/****** Object:  StoredProcedure [dbo].[BB_GetUserDetailByDisplayId]    Script Date: 6/29/2024 11:40:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE proc [dbo].[BB_GetUserDetailByDisplayId]  
(  
@userDisplayId uniqueidentifier

)  
as  
begin  
--Declare @CartDisplayId Uniqueidentifier

--Exec BB_GenerateNewGuid @CartDisplayId Output
  
select(select us.[RecordId],[DisplayId],[FirstName],[LastName],[Username],[Password],[Email]
,[PhoneNo],[IsActive],us.[CreatedOn],us.[ModifiedOn],rl.[Role],ProfileImage,CustomerType
from BB_Users us
left outer join BB_Role rl on rl.RecordId=us.RoleId  
where  us.DisplayId=@userDisplayId FOR JSON PATH,WITHOUT_ARRAY_WRAPPER) as Result

  
end

GO
/****** Object:  StoredProcedure [dbo].[BB_GetUserList]    Script Date: 6/29/2024 11:40:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE proc [dbo].[BB_GetUserList]  
(
@Keyword varchar(100) = ''
)
as  
begin 

Declare @sqlstr nvarchar(max)=''
Declare @sqlfilterstr nvarchar(max)=' Where 1=1 '

If @Keyword <> ''
Begin
set @sqlfilterstr += ' And (Username like ''%'+ @Keyword +'%'' OR Email like ''%'+ @Keyword +'%'' OR PhoneNo like ''%'+ @Keyword +'%'' 
OR Role like ''%'+ @Keyword +'%'' OR CustomerType like  ''%'+ @Keyword +'%'')'
End


set @sqlstr ='Select (Select us.RecordId,DisplayId,FirstName,LastName,Username,Email,Password,PhoneNo,IsActive,
us.ModifiedOn,us.CreatedOn,Gender,ProfileImage,CustomerType,rl.Role,
case 
when CustomerType = ''BToB'' then ''B To B''
when CustomerType = ''BToC'' then ''B To C''
else ''-''
end as ''CustomerTypeDisplay'' 
from BB_Users us left outer join BB_Role rl on rl.RecordId=us.RoleId' + @sqlfilterstr + ' order by CreatedOn desc FOR JSON PATH) as Result'

Print @sqlstr  
EXEC(@sqlstr)

end

GO
/****** Object:  StoredProcedure [dbo].[BB_GetWarehouseOrders]    Script Date: 6/29/2024 11:40:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[BB_GetWarehouseOrders]  
(
@DisplayId varchar(50) = '',
@Keyword varchar(100) = '',
@Code varchar(100) = ''
)
as  
begin 

Declare @sqlstr nvarchar(max)=''
Declare @sqlfilterstr nvarchar(max)=' Where 1=1 '
Declare @roleid int

DECLARE @ResultJSON NVARCHAR(MAX) ='[]';
DECLARE @ORDERHEADER NVARCHAR(MAX)
DECLARE @ORDERLINES NVARCHAR(MAX)
DECLARE @RESULT Table (ORDERHEADER nvarchar (max))


select @roleid=RoleId from BB_Users where DisplayId=@DisplayId


If @DisplayId <> ''
Begin
set @sqlfilterstr += ' And (us.DisplayId = ''' + convert(varchar(50),@DisplayId) + ''' )'
End

If @Keyword <> ''
Begin
set @sqlfilterstr += ' And (Status like ''%'+ @Keyword +'%'' OR OrderNo like ''%'+ @Keyword +'%'')'
End

set @sqlstr ='Select (select oh.WarehouseId,oh.RecordId,OrderNo,SessionId,ShipToId,BillToId,ContactName,ContactNo,ContactEmail,
SubTotal,Discount,TaxAmount,RecycleFee,Shipping,Total,[Status],PaymentMethod,PaymentStatus,oh.CreatedOn,oh.LastModified,us.DisplayId,
ad.Name,Address1,Address2,ad.City,ad.[State],ad.Zipcode,ad.Country, ad.Email,ad.Phone,
wh.WarehouseCode,wh.WarehouseName,wh.Address as ''WAddress'',wh.City as ''WCity'',wh.State as ''WState''
from BB_OrderHeader oh
inner join BB_Users us on us.WarehouseId = oh.WarehouseId
inner join BB_Warehouse wh on wh.RecordId = oh.WarehouseId
left outer join BB_Addresses ad on oh.ShipToId = ad.RecordId' + @sqlfilterstr + ' Order by oh.CreatedOn desc FOR JSON PATH)'
print(@sqlstr)


Insert @RESULT exec sp_executesql @sqlstr

select @ORDERHEADER=ORDERHEADER  from @RESULT

Set @ResultJSON = '{ "Header": '+ @ORDERHEADER +' }'

	SELECT @ResultJSON AS Result
end


GO
/****** Object:  StoredProcedure [dbo].[BB_SetCounter]    Script Date: 6/29/2024 11:40:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


Create procedure [dbo].[BB_SetCounter]          
(          
@TypeName varchar(100),  
@CounterIdint Bigint OUTPUT                          
)           
As          
begin          
  
declare @CounterId Bigint          
--declare @CounterIdint Bigint          
          
SELECT  @CounterId=max(CounterId) from BB_Counter where [Type]=@TypeName      
          
Select @CounterIdint=@CounterId+1          
          
if not exists(select * from BB_Counter Where [Type]=@TypeName)          
begin          
           
insert into BB_Counter(CounterId,[Type],CreatedOn,LastModified)          
values(@CounterIdint,@TypeName,GETDATE(),GETDATE())          
          
end          
else          
begin          
          
update BB_Counter           
set CounterId=@CounterIdint,Lastmodified=getdate()          
Where [Type]=@TypeName          
          
end          
          
end 
GO
/****** Object:  StoredProcedure [dbo].[BB_SetDeliveryAgent]    Script Date: 6/29/2024 11:40:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


Create PROC [dbo].[BB_SetDeliveryAgent]    
(    
@OrderId bigint,
@AgentRId bigint
)    
as
begin
 Update BB_OrderHeader set DeliveryAgentId=@AgentRId,LastModified=GETDATE() where RecordId=@OrderId    
End    
    
    
     
    
GO
/****** Object:  StoredProcedure [dbo].[BB_SetQuotes]    Script Date: 6/29/2024 11:40:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE Proc [dbo].[BB_SetQuotes]
(
@SessionId uniqueidentifier,                                                                                                                              
@ProductRId int= -999,                                                                                                                              
@Qty int,     
@UserDisplayId uniqueidentifier = null
)
As                                                                                                                              
Begin       
  Declare @QuoteHeaderId bigint          
  Declare @SubTotal money=0.00 
  Declare @TaxAmount money=0.00  
  Declare @QuoteNo bigint
  Declare @CartDisplayId Uniqueidentifier

  
if not exists (select * from BB_QuoteHeader where SessionId=@SessionId)                                                                                                              
begin     


Exec BB_SetCounter 'Quote', @QuoteNo output
--Select @QuoteNo

insert into BB_QuoteHeader(QuoteNo,SessionId,ShipToId,BillToId,ContactName,ContactNo,ContactEmail,SubTotal,Discount,TaxAmount,RecycleFee,
Shipping,Total,[Status],PaymentMethod,PaymentStatus,CreatedOn,LastModified,UserDisplayId)
values(@QuoteNo,@SessionId,'','','','','',0.00,0.00,0.00,0.00,0.00,0.00,'cart','','',GETDATE(),GETDATE(),@UserDisplayId)
                                                              
Set @QuoteHeaderId=SCOPE_IDENTITY()                     
                                                                                   
end                                                         
else                                        
begin
select @QuoteHeaderId=RecordId from BB_QuoteHeader where SessionId=@SessionId 
end 
--if exists (select top 1 * from BB_QuoteHeader where UserDisplayId=@UserDisplayId and SessionId=@SessionId and [Status]='cart')                                                    
--begin
--select @QuoteHeaderId=RecordId from BB_QuoteHeader where SessionId=@SessionId 
--end 
--else
--begin
--Exec BB_GenerateNewGuid @CartDisplayId output
--Exec BB_SetCounter 'Quote', @QuoteNo output

--insert into BB_QuoteHeader(QuoteNo,SessionId,ShipToId,BillToId,ContactName,ContactNo,ContactEmail,SubTotal,Discount,TaxAmount,RecycleFee,
--Shipping,Total,[Status],PaymentMethod,PaymentStatus,CreatedOn,LastModified,UserDisplayId)
--values(@QuoteNo,@CartDisplayId,'','','','','',0.00,0.00,0.00,0.00,0.00,0.00,'cart','','',GETDATE(),GETDATE(),@UserDisplayId)
                                                              
--Set @QuoteHeaderId=SCOPE_IDENTITY() 

--end
--end                  


if exists (select top 1 * from BB_QuoteHeader where UserDisplayId=@UserDisplayId and SessionId=@SessionId and [Status]='cart') and  @ProductRId <> -999                                                     
begin  

    insert into BB_QuoteDetails(QuoteHeaderId,SessionId,Supplier,Category,ProductId,Qty,ProductName,Price,ExtPrice,InEnglish,InTamil,MRP,PurchasePrice,Tax,NetPurchasePrice,
PurchasePercentage,NetPurchasePercentage,HSNSAC,SellingProfitPercentage,SellingPrice,SellingPercentage,ClassicProfitPercentage,
ClassicPrice,ClassicPercentage,QuantityPerBox,RetailPrice,Unit,MinimumOrderQuantity,InitialStock,BulkQuantity,BulkQuantityPrice,
EnableBarCodeSticker,ProductImage,CreatedOn,LastModified,TaxAmount) 
select @QuoteHeaderId,@SessionId,Supplier,Category,ProductId,@Qty,ProductName,PurchasePrice,@Qty*PurchasePrice,InEnglish,InTamil,MRP,PurchasePrice,Tax,NetPurchasePrice,
PurchasePercentage,NetPurchasePercentage,HSNSAC,SellingProfitPercentage,SellingPrice,SellingPercentage,ClassicProfitPercentage,
ClassicPrice,ClassicPercentage,QuantityPerBox,RetailPrice,Unit,MinimumOrderQuantity,InitialStock,BulkQuantity,BulkQuantityPrice,
EnableBarCodeSticker,DefaultImage,GETDATE(),GETDATE(),(Tax/100.)*PurchasePrice
from BB_Inventory where RecordId=@ProductRId

Update BB_Inventory Set InitialStock = InitialStock - @Qty where  RecordId=@ProductRId
 
Exec BB_SetQuoteTotal  @SessionId                                      
                                                                            
end        
 
--select @SubTotal=sum(Isnull(ExtPrice,0.00)),@TaxAmount=sum(Isnull(TaxAmount,0.00))
--from BB_QuoteDetails where SessionId=@SessionId                                                                

--Update BB_QuoteHeader Set SubTotal=@SubTotal,TaxAmount=@TaxAmount,Total=isnull(@SubTotal,0.00) + isnull(@TaxAmount,0.00),LastModified=GetDate()              
--where SessionId=@SessionId    

 

            
end 
GO
/****** Object:  StoredProcedure [dbo].[BB_SetQuoteTotal]    Script Date: 6/29/2024 11:40:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


Create Proc [dbo].[BB_SetQuoteTotal]
(
@SessionId uniqueidentifier                                                                                                                         

)
As                                                                                                                              
Begin       
  Declare @SubTotal Decimal(18,2)=0.00 
  Declare @TaxAmount Decimal(18,2)=0.00 
  

select @SubTotal=sum(Isnull(ExtPrice,0.00)),@TaxAmount=sum(Isnull(TaxAmount,0.00))
from BB_QuoteDetails where SessionId=@SessionId                                                                

Update BB_QuoteHeader Set SubTotal=@SubTotal,TaxAmount=@TaxAmount,Total=isnull(@SubTotal,0.00) + isnull(@TaxAmount,0.00),LastModified=GetDate()              
where SessionId=@SessionId  

  End
GO
/****** Object:  StoredProcedure [dbo].[BB_SetUserJwtToken]    Script Date: 6/29/2024 11:40:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[BB_SetUserJwtToken]
(
@UserDisplayId Uniqueidentifier,
@JwtToken varchar(2000),
@RefreshToken varchar(200)
)
As
Begin

If Not Exists(Select * from BB_UserJwtToken Where UserDisplayId = @UserDisplayId)
Begin
Insert Into BB_UserJwtToken(UserDisplayId,JwtToken,RefreshToken,CreatedOn,ModifiedOn)
Values(@UserDisplayId,@JwtToken,@RefreshToken,GETDATE(),GETDATE())
End
Else
Begin
UPDATE BB_UserJwtToken SET JwtToken = @JwtToken, RefreshToken = @RefreshToken, ModifiedOn = GETDATE() WHERE UserDisplayId = @UserDisplayId
End

End
GO
/****** Object:  StoredProcedure [dbo].[BB_SetWarehouse]    Script Date: 6/29/2024 11:40:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROC [dbo].[BB_SetWarehouse]    
(    
@OrderId bigint,
@WarehouseId bigint
)    
as
begin



 Update BB_OrderHeader set WarehouseId=@WarehouseId,LastModified=GETDATE() where RecordId=@OrderId
    
End    
    
    
     
    
GO
/****** Object:  StoredProcedure [dbo].[BB_UpdateDefaultAddress]    Script Date: 6/29/2024 11:40:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


Create PROC [dbo].[BB_UpdateDefaultAddress]      
(
@DisplayId  uniqueidentifier,
@RecordId bigint = -999 
) 
As      
Begin
Update BB_Users Set DefaultAddressId=@RecordId,ModifiedOn =GETDATE()
where DisplayId = @DisplayId

End  




    
      
 









  

GO
/****** Object:  StoredProcedure [dbo].[BB_UpdateItemQty]    Script Date: 6/29/2024 11:40:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE proc [dbo].[BB_UpdateItemQty]  
( 
@linerid int = -999,
@qty int = -999
)  
as  
begin  
Declare @DisplayId uniqueidentifier
Declare @ProductId int




if @linerid <> -999 and @qty <> -999

begin
select @DisplayId=SessionId,@ProductId=ProductId from BB_QuoteDetails where RecordId=@linerid

update BB_QuoteDetails set Qty=@qty,ExtPrice=@qty*Price where RecordId=@linerid

update BB_Inventory Set InitialStock =InitialStock - @Qty where ProductId=@ProductId

Exec BB_SetQuoteTotal  @DisplayId 

end


  
end
GO
/****** Object:  StoredProcedure [dbo].[BB_UpdateProfile]    Script Date: 6/29/2024 11:40:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


Create PROC [dbo].[BB_UpdateProfile]      
(
@DisplayId  uniqueidentifier= null,
@Name nvarchar(100) = '',
@Email   nvarchar(100) = '',
@PhoneNo   nvarchar(100) = '',
@Password   nvarchar(100) = ''
)      
As      
Begin

Update BB_Users Set Username =@Name,[Password]=@Password,Email=@Email,PhoneNo=@PhoneNo,ModifiedOn =GETDATE()
where DisplayId =@DisplayId 



End      
      
 









  

GO
/****** Object:  StoredProcedure [dbo].[BB_UpsetAddress]    Script Date: 6/29/2024 11:40:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROC [dbo].[BB_UpsetAddress]      
(
@Mode nvarchar(50) = '',
@DisplayId  uniqueidentifier= null,
@Name nvarchar(100) = '',
@Address1 nvarchar(100) = '',
@Address2 nvarchar(100) = '',
@Address3 nvarchar(100) = '',
@City nvarchar(100) = '',
@State  nvarchar(50) = '',
@Zipcode  nvarchar(50) = '',
@Phone  nvarchar(25) = '',
@Type  nvarchar(25) = '',
@RecordId bigint = -999 
) 
As      
Begin

If @Mode = 'addnew'      
Begin

Insert into BB_Addresses (CustomerId,[Name],Address1,Address2,Address3,City,[State],Zipcode,Country,Phone,[Type],CreatedOn,LastModified)
values(@DisplayId,@Name,@Address1,@Address2,@Address3,@City,'Tamilnadu',@Zipcode,'India',@Phone,@Type,GETDATE(),GETDATE())

End 

If @Mode = 'update'      
Begin 

Update BB_Addresses Set [Name] =@Name,Address1=@Address1,Address2=@Address2,Address3=@Address3,City=@City,Zipcode=@Zipcode,Phone=@Phone,
[Type]=@Type,LastModified =GETDATE()
where RecordId = @RecordId

End
End  




    
      
 









  

GO
/****** Object:  StoredProcedure [dbo].[BB_UpsetOrderStatus]    Script Date: 6/29/2024 11:40:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROC [dbo].[BB_UpsetOrderStatus]    
(    
@OrderId bigint,
@TrackingCode nvarchar(50),
@LastUpdatedBy nvarchar(50)
)    
as
begin

Declare @OrderStatus nvarchar(50)='InProcess'
if @TrackingCode='processing'
begin
Insert into BB_OrderTracking (InProcess,LastUpdatedBy,Comments,OrderId,TrackingCode,TrackingName,[Description],SortOrderId,CreatedOn,LastModified,TimeLine,ExpectedOn)
select 1,@LastUpdatedBy,null,@OrderId,TrackingCode,TrackingName,[Description],SortOrderId,GETDATE(),GETDATE(),'active',GETDATE()
from BB_TrackingMaster where TrackingCode = @TrackingCode

Insert into BB_OrderTracking (InProcess,LastUpdatedBy,Comments,OrderId,TrackingCode,TrackingName,[Description],SortOrderId,CreatedOn,LastModified,TimeLine,ExpectedOn)
select 1,null,null,@OrderId,TrackingCode,TrackingName,[Description],SortOrderId,GETDATE(),GETDATE(),' ',DATEADD(day, 2, GETDATE())
from BB_TrackingMaster where TrackingCode ='shipped'

Insert into BB_OrderTracking (InProcess,LastUpdatedBy,Comments,OrderId,TrackingCode,TrackingName,[Description],SortOrderId,CreatedOn,LastModified,TimeLine,ExpectedOn)
select 1,null,null,@OrderId,TrackingCode,TrackingName,[Description],SortOrderId,GETDATE(),GETDATE(),' ',DATEADD(day, 3, GETDATE())
from BB_TrackingMaster where TrackingCode ='delivered'
end

if @TrackingCode='shipped'
begin 
 Update BB_OrderTracking set Shipped=1,TimeLine='active',LastUpdatedBy=@LastUpdatedBy,LastModified=GETDATE(),ExpectedOn=GETDATE()
 where OrderId=@OrderId and TrackingCode=@TrackingCode
 set @OrderStatus= 'Shipped'
end

if @TrackingCode='delivered'
begin 
 Update BB_OrderTracking set Shipped=1,Delivered=1,IsCompleted=1,TimeLine='active',LastUpdatedBy=@LastUpdatedBy,LastModified=GETDATE(),ExpectedOn=GETDATE()
 where OrderId=@OrderId and TrackingCode=@TrackingCode
 set @OrderStatus= 'Delivered'
end

if @TrackingCode='cancelled'
begin 
 --Update BB_OrderTracking set TimeLine='active' where OrderId=@OrderId and TrackingCode='delivered'

Insert into BB_OrderTracking (Cancelled,LastUpdatedBy,Comments,OrderId,TrackingCode,TrackingName,[Description],SortOrderId,CreatedOn,LastModified,TimeLine,ExpectedOn)
select 1,@LastUpdatedBy,null,@OrderId,TrackingCode,TrackingName,[Description],SortOrderId,GETDATE(),GETDATE(),'active',GETDATE()
from BB_TrackingMaster where TrackingCode = @TrackingCode

 set @OrderStatus= 'Cancelled'
end

 Update BB_OrderHeader set [Status]=@OrderStatus where RecordId=@OrderId
    
End    
    
    
     
    
GO
/****** Object:  StoredProcedure [dbo].[BB_UpsetProduct]    Script Date: 6/29/2024 11:40:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROC [dbo].[BB_UpsetProduct]      
(
@Mode nvarchar(50) = '', 
@Supplier nvarchar(50) = '', 
@CategoryRId bigint = -999, 
@ProductId nvarchar(100) = '', 
@ProductName nvarchar(100) = '', 
@InEnglish nvarchar(100) = '', 
@InTamil nvarchar(100) = '', 
@MRP decimal = 0.00, 
@PurchasePrice decimal = 0, 
@Tax nvarchar(100) = '', 
@NetPurchasePrice decimal = 0, 
@PurchasePercentage decimal = 0, 
@NetPurchasePercentage decimal = 0, 
@HSNSAC nvarchar(50) = '', 
@SellingProfitPercentage decimal = 0, 
@SellingPrice decimal = 0, 
@SellingPercentage decimal = 0, 
@ClassicProfitPercentage decimal = 0, 
@ClassicPrice decimal = 0, 
@ClassicPercentage decimal = 0, 
@QuantityPerBox int = -999, 
@RetailPrice decimal = 0, 
@Unit nvarchar(50) = '', 
@MinimumOrderQuantity int = -999, 
@InitialStock int = -999, 
@BulkQuantity int = -999, 
@BulkQuantityPrice decimal = 0, 
@EnableBarCodeSticker bit = 0
--@ProductImage varbinary(MAX)= null
)      
As      
Begin 
Declare @ProductImageRId bigint
Declare @Category nvarchar(50) = '' 

select @Category=CategoryName from BB_Category where RecordId=@CategoryRId

If @Mode = 'addnew'      
Begin

--Insert into BB_ProductImage(ProductId,ProductImage,CreatedOn,LastModified)
--values (@ProductId,@ProductImage,GETDATE(),GETDATE())

 --Set @ProductImageRId=SCOPE_IDENTITY()  

Insert into BB_Inventory(DisplayId,Supplier,Category,ProductId,ProductName,InEnglish,InTamil,MRP,PurchasePrice,Tax,NetPurchasePrice,PurchasePercentage,
NetPurchasePercentage,HSNSAC,SellingProfitPercentage,SellingPrice,SellingPercentage,ClassicProfitPercentage,ClassicPrice,ClassicPercentage,
QuantityPerBox,RetailPrice,Unit,MinimumOrderQuantity,InitialStock,BulkQuantity,BulkQuantityPrice,EnableBarCodeSticker,CreatedOn,LastModified,CategoryRId)
values(newid(),@Supplier,@Category,@ProductId,@ProductName,@InEnglish,@InTamil,@MRP,@PurchasePrice,@Tax,@NetPurchasePrice,@PurchasePercentage,
@NetPurchasePercentage,@HSNSAC,@SellingProfitPercentage,@SellingPrice,@SellingPercentage,@ClassicProfitPercentage,@ClassicPrice,@ClassicPercentage,
@QuantityPerBox,@RetailPrice,@Unit,@MinimumOrderQuantity,@InitialStock,@BulkQuantity,@BulkQuantityPrice,@EnableBarCodeSticker,GETDATE(),GETDATE(),@CategoryRId)

End 

If @Mode = 'update'      
Begin  

--if not exists (select * from BB_ProductImage where ProductId =@ProductId)
--begin
--Insert into BB_ProductImage(ProductId,ProductImage,CreatedOn,LastModified)
--values (@ProductId,@ProductImage,GETDATE(),GETDATE())

-- Set @ProductImageRId=SCOPE_IDENTITY() 
--end
--else
--begin
--update BB_ProductImage set ProductImage=@ProductImage,LastModified=GETDATE() where ProductId =@ProductId
--select @ProductImageRId = RecordId from BB_ProductImage where ProductId =@ProductId
--end

Update BB_Inventory Set Supplier=@Supplier,Category=@Category,ProductId=@ProductId,ProductName=@ProductName,InEnglish=@InEnglish,InTamil=@InTamil,
MRP=@MRP,PurchasePrice=@PurchasePrice,Tax=@Tax,NetPurchasePrice=@NetPurchasePrice,PurchasePercentage=@PurchasePercentage,NetPurchasePercentage=@NetPurchasePercentage,
HSNSAC=@HSNSAC,SellingProfitPercentage=@SellingProfitPercentage,SellingPrice=@SellingPrice,SellingPercentage=@SellingPercentage,ClassicProfitPercentage=@ClassicProfitPercentage,
ClassicPrice=@ClassicPrice,ClassicPercentage=@ClassicPercentage,QuantityPerBox=@QuantityPerBox,RetailPrice=@RetailPrice,Unit=@Unit,MinimumOrderQuantity=@MinimumOrderQuantity,
InitialStock=@InitialStock,BulkQuantity=@BulkQuantity,BulkQuantityPrice=@BulkQuantityPrice,EnableBarCodeSticker=@EnableBarCodeSticker, LastModified = GETDATE(),CategoryRId=@CategoryRId
where ProductId = @ProductId
End  





End      
      
 









  

GO
/****** Object:  StoredProcedure [dbo].[BB_UpsetUser]    Script Date: 6/29/2024 11:40:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROC [dbo].[BB_UpsetUser]      
(
@Mode nvarchar(50) = '',
@DisplayId  uniqueidentifier= null,
@FirstName nvarchar(50) = '',
@LastName nvarchar(50) = '',
@UserName nvarchar(100) = '',
@Password   nvarchar(100) = '',
@Email   nvarchar(100) = '',
@PhoneNo   nvarchar(100) = '',
@RoleId bigint = -999, 
@Gender  nvarchar(50) = '',
@CustomerType  nvarchar(50) = ''
)      
As      
Begin

If @Mode = 'addnew'      
Begin

Insert into BB_Users(DisplayId,FirstName,LastName,Username,[Password],Email,PhoneNo,RoleId,IsActive,Gender,CustomerType,CreatedOn,ModifiedOn)
values(NEWID(),@FirstName,@LastName,@UserName,@Password,@Email,@PhoneNo,@RoleId,1,@Gender,@CustomerType,GETDATE(),GETDATE())

End 

If @Mode = 'update'      
Begin 

Update BB_Users Set FirstName =@FirstName,LastName=@LastName,Username=@UserName,[Password]=@Password,Email=@Email,PhoneNo=@PhoneNo,
RoleId=@RoleId,Gender=@Gender,CustomerType=@CustomerType,ModifiedOn =GETDATE()
where DisplayId =@DisplayId


End  





End      
      
 









  

GO
/****** Object:  StoredProcedure [dbo].[BB_VerifyLogin]    Script Date: 6/29/2024 11:40:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE proc [dbo].[BB_VerifyLogin]  
(  
@UserName varchar(100),  
@Password varchar(100)
)  
as  
begin  

Declare @UserDisplayId Uniqueidentifier
Declare @CartDisplayId Uniqueidentifier

If exists(select * from BB_Users us where (Username=@UserName or Email=@UserName) and [Password]=@Password) 
Begin

Select @UserDisplayId = DisplayId from BB_Users us where (Username=@UserName or Email=@UserName) and [Password]=@Password

If Exists(Select * from BB_QuoteHeader where [Status] = 'Cart' and UserDisplayId = @UserDisplayId)
Begin
Select top 1 @CartDisplayId = SessionId from BB_QuoteHeader where [Status] = 'Cart' 
and UserDisplayId = @UserDisplayId order by RecordId desc
End
Else
Begin
Exec BB_GenerateNewGuid @CartDisplayId output
End

End
  
select (select us.RecordId,DisplayId,FirstName,LastName,Username,[Password],Email,PhoneNo,RoleId,IsActive,us.CreatedOn,us.ModifiedOn,
Gender,ProfileImage,CustomerType,DefaultAddressId,rl.[Role], @CartDisplayId as 'CartDisplayId'
from BB_Users us
left outer join BB_Role rl on rl.RecordId=us.RoleId                                     
where (Username=@UserName or Email=@UserName) and [Password]=@Password FOR JSON PATH,WITHOUT_ARRAY_WRAPPER ) AS Result
  
end

GO
/****** Object:  StoredProcedure [dbo].[Del_BB_GetActiveQuote]    Script Date: 6/29/2024 11:40:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


Create PROC [dbo].[Del_BB_GetActiveQuote]    
(    
 @SessionId uniqueidentifier   
)    
as    
begin    
    
Declare @QuoteHeaderId bigint 
Declare @Status nvarchar(50)=''
 
select @QuoteHeaderId=RecordId,@Status=[Status] from BB_QuoteHeader where SessionId=@SessionId

if @Status = 'cart'
Begin
select(select RecordId,QuoteNo,SessionId,ShipToId,BillToId,ContactName,ContactNo,ContactEmail,SubTotal,Discount,TaxAmount,RecycleFee,Shipping,
Total,[Status],PaymentMethod,PaymentStatus,CreatedOn,LastModified
 from BB_QuoteHeader where SessionId=@SessionId FOR JSON PATH) as Result   
   
--select(select QuoteHeaderId,SessionId,Supplier,Category,ProductId,Qty,ProductName,Price,ExtPrice,InEnglish,InTamil,MRP,PurchasePrice,
--Tax,TaxAmount,NetPurchasePrice,PurchasePercentage,NetPurchasePercentage,HSNSAC,SellingProfitPercentage,SellingPrice,SellingPercentage,ClassicProfitPercentage,
--ClassicPrice,ClassicPercentage,QuantityPerBox,RetailPrice,Unit,MinimumOrderQuantity,InitialStock,BulkQuantity,BulkQuantityPrice,EnableBarCodeSticker,
--ProductImage,CreatedOn,LastModified
--from BB_QuoteDetails where SessionId=@SessionId and QuoteHeaderId=@QuoteHeaderId FOR JSON PATH) as Result

End     
End    
    
    
     
    
GO
/****** Object:  StoredProcedure [dbo].[Del_BB_GetMyOrders]    Script Date: 6/29/2024 11:40:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create proc [dbo].[Del_BB_GetMyOrders]  
(
@DisplayId varchar(50) = '',
@Keyword varchar(100) = ''
)
as  
begin 

Declare @sqlstr nvarchar(max)=''
Declare @sqlfilterstr nvarchar(max)=' Where 1=1 '

If @DisplayId <> ''
Begin

set @sqlfilterstr += ' And (UserDisplayId = ''' + convert(varchar(50),@DisplayId) + ''')'
End

If @Keyword <> ''
Begin
set @sqlfilterstr += ' And (Status like ''%'+ @Keyword +'%'' OR OrderNo like ''%'+ @Keyword +'%'')'
End

set @sqlstr ='Select (Select RecordId,OrderNo,SessionId,ShipToId,BillToId,ContactName,ContactNo,ContactEmail,SubTotal,Discount,
TaxAmount,RecycleFee,Shipping,Total,[Status],PaymentMethod,PaymentStatus,CreatedOn,LastModified
from BB_OrderHeader' + @sqlfilterstr + ' Order by CreatedOn desc FOR JSON PATH) as Result'

Print @sqlstr  
EXEC(@sqlstr)

end


GO
/****** Object:  StoredProcedure [dbo].[Del_BB_UpsetOrderStatus]    Script Date: 6/29/2024 11:40:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


Create PROC [dbo].[Del_BB_UpsetOrderStatus]    
(    
@OrderId bigint,
@TrackingCode nvarchar(50),
@LastUpdatedBy nvarchar(50)
)    
as
begin

Declare @OrderStatus nvarchar(50)='InProcess'
if @TrackingCode='processing'
begin
Insert into BB_OrderTracking (InProcess,LastUpdatedBy,Comments,OrderId,TrackingCode,TrackingName,[Description],SortOrderId,CreatedOn,LastModified,StatusStyle,TimeLine,StatusIcon)
select 1,@LastUpdatedBy,null,@OrderId,TrackingCode,TrackingName,[Description],SortOrderId,GETDATE(),GETDATE(),'bg-success dark__bg-success','timeline-bar border-end border-success','fa-check'
from BB_TrackingMaster where TrackingCode = @TrackingCode

Insert into BB_OrderTracking (LastUpdatedBy,Comments,OrderId,TrackingCode,TrackingName,[Description],SortOrderId,CreatedOn,LastModified,TimeLine,StatusIcon)
select @LastUpdatedBy,null,@OrderId,TrackingCode,TrackingName,[Description],SortOrderId,GETDATE(),GETDATE(),'timeline-bar border-end','fa-truck'
from BB_TrackingMaster where TrackingCode ='shipped'

Insert into BB_OrderTracking (LastUpdatedBy,Comments,OrderId,TrackingCode,TrackingName,[Description],SortOrderId,CreatedOn,LastModified,TimeLine,StatusIcon)
select @LastUpdatedBy,null,@OrderId,TrackingCode,TrackingName,[Description],SortOrderId,GETDATE(),GETDATE(),' ','fa-truck-fast'
from BB_TrackingMaster where TrackingCode ='delivered'
end

if @TrackingCode='shipped'
begin 
 Update BB_OrderTracking set Shipped=1,StatusStyle='bg-success dark__bg-success',TimeLine='timeline-bar border-end border-success'
 where OrderId=@OrderId and TrackingCode=@TrackingCode
 set @OrderStatus= 'Shipped'
end

if @TrackingCode='delivered'
begin 
 Update BB_OrderTracking set Shipped=1,Delivered=1,IsCompleted=1,StatusStyle='bg-success dark__bg-success'
 where OrderId=@OrderId and TrackingCode=@TrackingCode
 set @OrderStatus= 'Delivered'
end

if @TrackingCode='cancelled'
begin 
 Update BB_OrderTracking set TimeLine='timeline-bar border-end border-danger' where OrderId=@OrderId and TrackingCode='delivered'

Insert into BB_OrderTracking (Cancelled,LastUpdatedBy,Comments,OrderId,TrackingCode,TrackingName,[Description],SortOrderId,CreatedOn,LastModified,StatusStyle,TimeLine,StatusIcon)
select 1,@LastUpdatedBy,null,@OrderId,TrackingCode,TrackingName,[Description],SortOrderId,GETDATE(),GETDATE(),'bg-danger dark__bg-danger',' ','fa-check'
from BB_TrackingMaster where TrackingCode = @TrackingCode

 set @OrderStatus= 'Cancelled'
end

 Update BB_OrderHeader set [Status]=@OrderStatus where RecordId=@OrderId
    
End    
    
    
     
    
GO
/****** Object:  StoredProcedure [dbo].[Del_Feb08_BB_GetMyOrders]    Script Date: 6/29/2024 11:40:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create proc [dbo].[Del_Feb08_BB_GetMyOrders]  
(
@DisplayId varchar(50) = '',
@Keyword varchar(100) = '',
@Code varchar(100) = ''
)
as  
begin 

Declare @sqlstr nvarchar(max)=''
Declare @sqlfilterstr nvarchar(max)=' Where 1=1 '
Declare @roleid int

DECLARE @ResultJSON NVARCHAR(MAX) ='[]';
DECLARE @ORDERHEADER NVARCHAR(MAX)
DECLARE @ORDERLINES NVARCHAR(MAX)
DECLARE @ADDRESS NVARCHAR(MAX)
DECLARE @RESULT Table (ORDERHEADER nvarchar (max))


select @roleid=RoleId from BB_Users where DisplayId=@DisplayId


If @DisplayId <> '' and @roleid <> 1
Begin
set @sqlfilterstr += ' And (UserDisplayId = ''' + convert(varchar(50),@DisplayId) + ''' )'
End

If @Keyword <> ''
Begin
set @sqlfilterstr += ' And (Status like ''%'+ @Keyword +'%'' OR OrderNo like ''%'+ @Keyword +'%'')'
End

If @Code = 'trackorder'
Begin
set @sqlfilterstr += ' And (Status <> ''Delivered'')'
End


set @sqlstr ='Select (Select oh.RecordId,OrderNo,SessionId,ShipToId,BillToId,ContactName,ContactNo,ContactEmail,SubTotal,Discount,
TaxAmount,RecycleFee,Shipping,Total,[Status],PaymentMethod,PaymentStatus,oh.CreatedOn,oh.LastModified,
Name,Address1,Address2,City,[State],Zipcode,Country, Email,Phone
from BB_OrderHeader oh
left outer join BB_Addresses ad on oh.ShipToId = ad.RecordId ' + @sqlfilterstr + ' Order by oh.CreatedOn desc FOR JSON PATH)'





print(@sqlstr)
 --print(@sqlstr) EXEC(@sqlstr)
 
 --Exec sp_executesql @sqlstr, N'@ORDERHEADER nvarchar(max) out', @ORDERHEADER out

Insert @RESULT exec sp_executesql @sqlstr

select @ORDERHEADER=ORDERHEADER  from @RESULT

--SET @ADDRESS = (select oh.RecordId as OrderId,ad.RecordId,ad.[Name] as Username,Address1,Address2,City,[State],Zipcode,Country, ad.Email,ad.Phone as'PhoneNo'
--from BB_OrderHeader oh 
--left outer join BB_Addresses ad on oh.ShipToId = ad.RecordId
--where UserDisplayId=@DisplayId Order by oh.CreatedOn desc FOR JSON PATH)

	Set @ResultJSON = '{ "Header": '+ @ORDERHEADER +' }'
	--Set @ResultJSON = '{ "Header": '+ @ORDERHEADER +', "Address": '+@ADDRESS+' }'

	SELECT @ResultJSON AS Result
end


GO
